<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">Do you want to delete test: {{testTitle}}</h4>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)="close()">Cancle</button>
      <button type="button" class="btn btn-primary" (click)="confirm()">Delete</button>
    </div>
  </div>
</div>