﻿* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    color: #737373;
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    background-color: #FAFAFA;
    opacity: 0;
    visibility: hidden;a
    transition: opacity 300ms ease;
}
a{
    text-decoration: none;
    color: #026aa7;
}
    a:hover {
        text-decoration: underline;
    }
p{
    line-height: 1.5em;
    margin-top: 6pt;
    margin-bottom: 6pt;
}
.container {
    width: 1200px;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.page-separator {
    background-color: #EEEEEE;
    font-weight: 500;
    padding: 10px;
}
    .page-separator h4 {
        font-weight: 500;
    }
.head-fixed{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index:10  ;
}
.head-fixed-placeholder {
    height: 47px;
}
/*.user-home-right-fixed{
    position: fixed;
    top: 53px;
}*/
.float-right{
    float: right;
}
.head {
    background-color: #026aa7;
    padding-top: 15px;
    padding-bottom: 15px;
}
    .head.user {
        padding-top: 5px;
        padding-bottom: 5px;
    }
.head .user{

}
    .head .user  img{
        height: 36px;
        width: 36px;
        border-radius: 18px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 0.5em;
    }
    .head .user span {
        display: inline-block;
        vertical-align: middle;
        color: #ffffff;
        font-size: 17px;
        max-width: 232px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
/*Coloring*/
.bg-none{
    background: none !important;
    background-color: transparent !important;
}
.bg-white{
    background-color: #ffffff;
}
.bg-primary {
    background-color: #026aa7;
}
.bg-secondary {
    background-color: #ff6639;
}
.txt-white{
    color: #ffffff !important;
}
.txt-primary {
    color: #026aa7 !important;
}
.txt-secondary {
    color: #ff6639 !important;
    /*color: rgba(0,0,0,0.5);*/
}
.txt-light-grey {
    color: #d0d0d0 !important;
}
/*padding and margin*/
.margin-top-5 {
    margin-top: 5px;
}
.margin-top-10 {
    margin-top: 10px;
}
.margin-top-15{
    margin-top: 15px;
}
.margin-top-20 {
    margin-top: 20px;
}
.margin-top-30 {
    margin-top: 30px;
}
.margin-top-50 {
    margin-top: 30px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}

.margin-bottom-20 {
    margin-bottom: 20px;
}

.margin-bottom-30 {
    margin-bottom: 30px;
}
.padding-left-10 {
    padding-left: 10px;
}
/*text*/
.txt-small{
    font-size: 12px;
}
.txt-bold{
    font-weight: bold;
}
.txt-center{
    text-align: center;
}
h1{
    font-size: 36px;
    font-weight: normal;
    margin-top: 12pt;
    margin-bottom: 6pt;
}
h2 {
    font-size: 32px;
    font-weight: normal;
    margin-top: 10pt;
    margin-bottom: 6pt;
}
h3 {
    font-size: 28px;
    font-weight: normal;
    margin-top: 8pt;
    margin-bottom: 6pt;
}
h4 {
    font-size: 24px;
    font-weight: normal;
    margin-top: 6pt;
    margin-bottom: 6pt;
}
h5 {
    font-size: 20px;
    font-weight: normal;
    margin-top: 6pt;
    margin-bottom: 6pt;
    font-weight: 300;
}
h6 {
    font-size: 16px;
    font-weight: normal;
    margin-top: 6pt;
    margin-bottom: 6pt;
    font-weight: 300;
}
/*images*/
.img-centered {
    overflow: hidden;
    object-fit: fill;
    position: relative;
}
    .img-centered > img {
        width: 100%;
    }
.four-three {
    position: relative;
    overflow: hidden;
}

    .four-three:before {
        display: block;
        content: "";
        width: 100%;
        padding-top: 75%;
    }

    .four-three > img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        /*transform: translate(50%,50%);
        margin-left: -50%;
        margin-top: -37.5%;*/
        height: 100%;
        width: 100%;
        object-fit: fill;
    }
.img-full-height{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
.img-full-height >img {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 100%;
    width: auto;
}
/*Logo*/
.logo{

}
.logo img{
    width: 100%;
}
/*Form*/
form .control{
    width: 100%;
    height: 36px;
    line-height: 36px;
    border-radius: 18px;
    position: relative;
    font-size: 14px;
    border: 1px solid transparent;
}
    form .control.textarea {
        height: 72px;
    }
    form .control.textarea textarea{
        height: 72px;
        resize: none;
    }
    form .control.bordered {
        border-color: #aaaaaa;
    }
    form .control.bordered-white {
        border-color: #ffffff;
    }
    form .control:hover, form .control:focus, form .control:active, form .control.active {
        border-color: #026aa7;
    }
    form .control.bordered-white:hover, form .control.bordered-white:focus, form .control.bordered-white:active, form .control.bordered-white.active {
        border-color: #e0e0e0;
    }
    form .control > input[type=text], form .control > input[type=password], form .control > button, form .control > textarea {
        background: none;
        border: none;
        outline: none;
        margin: 0px;
        padding: 0px;
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
        line-height: 36px;
        /*color: inherit;*/
        z-index: 2;
    }
    form .control.has-button > input[type=text], form .control.has-button > input[type=password] {
        padding-right: 45px;
    }
    form .control > button {
        padding-left: 0px;
        padding-right: 0px;
        width: 50px !important;
        height: 24px !important;
        right: 0px;
        left: auto;
        top: 6px;
        color: #ababab;
        background: none !important;
        /*float: right;
        position: static;*/
    }
    form .control > label{
        position: absolute;
        top: 0px;
        left: 15px;
        height: 100%;
        transition: all 300ms ease;
        opacity: 1;
        transform-origin: left;
        user-select: none;
        z-index: 1;
    }
    form .control > input:not([value=""]) ~ label, form .control > textarea:not([value=""]) ~ label {
        visibility: hidden;
        opacity: 0.0;
    }
    form .control > input:focus ~ label, form .control > textarea:focus ~ label {
        transform: scale(0.2);
        opacity: 0.0;
    }
    form .control > .control-extension {
        position: absolute;
        font-size: 12px;
        top: 40px;
        left: 0px;
        width: 100%;
        line-height: 1.5em;
        color: #d0d0d0;
    }
        form .control > .control-extension > .extension-checkbox {
        }
            form .control > .control-extension > .extension-checkbox > label{
                display: inline-block;
                vertical-align: middle;
            }
form .submit {
    width: 100%;
    height: 36px;
    line-height: 36px;
    position: relative;
    font-size: 14px;
}
    form .submit > .control-extension {
        position: absolute;
        font-size: 12px;
        top: 45px;
        left: 0px;
        width: 100%;
        line-height: 1em;
        color: #d0d0d0;
    }
form button,.btn{
    height: 36px;
    line-height: 30px;
    text-align: center;
    padding-left: 18px;
    padding-right: 18px;
    border-radius: 18px;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    transition: all 300ms ease;
    color: #737373;
    background-color: #eaeaea;
}
    form button:hover, .btn:hover {
        background-color: #f8f8f8;
    }
    form button:focus, btn:focus {
        border-color: #ff6639;
    }
    form button.btn-primary, .btn.btn-primary {
        background-color: #026aa7;
        border-color: #026aa7;
        color: #ffffff
    }
    form button.btn-bordered-primary, .btn.btn-bordered-primary {
        border: 1px solid #026aa7 !important;
        background-color: transparent;
        color: #026aa7;
    }
        form button.btn-bordered-primary:hover, .btn.btn-bordered-primary:hover {
            border-color: #026aa7;
            background-color: #026aa7;
            color: #ffffff;
        }
    form button.btn-bordered-secondary, .btn.btn-bordered-secondary {
        border-color: #ff6639;
        background-color: transparent;
        color: #ff6639;
    }

        form button.btn-bordered-secondary:hover, .btn.btn-bordered-secondary:hover {
            border-color: #ff6639;
            background-color: #ff6639;
            color: #ffffff;
        }
        form button.btn-primary:hover, .btn.btn-primary:hover {
            background-color: #0378bc;
            border-color: #0378bc;
        }

        form button.btn-primary:focus, .btn.btn-primary:focus {
            border-color: #026aa7;
            background-color: #f8f8f8;
            color: #026aa7;
        }
    form button.btn-secondary, .btn.btn-secondary {
        background-color: #ff6639;
        border-color: #ff6639;
        color: #ffffff
    }

        form button.btn-secondary:hover, .btn.btn-secondary:hover {
            background-color: #ff8766;
            border-color: #ff8766;
        }

        form button.btn-secondary:focus, .btn.btn-secondary:focus {
            border-color: #ff6639;
            background-color: #f8f8f8;
            color: #ff6639;
        }
    .btn > .material-icons {
        display: inline-block;
        vertical-align: middle;
        margin-top: -5px;
        margin-right: 5px;
    }
    form button.btn-small, .btn.btn-small {
        height: 24px;
        line-height: 20px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 12px;
        min-width: 80px;
        border: 1px solid transparent;
        font-size: 12px;
        margin-right: 10px;
    }
        form button.btn-small > i, .btn.btn-small > i {
            font-size: 14px;
            vertical-align: text-bottom;
            margin-right: 5px;
        }
    form button.btn-tiny, .btn.btn-tiny {
        height: 20px;
        line-height: 16px;
        padding-left: 12px;
        padding-right: 12px;
        border-radius: 12px;
        font-size: 11px;
        min-width: 60px;
        border: 1px solid;
    }
        form button.btn-tiny > i, .btn.btn-tiny > i {
            font-size: 11px;
            vertical-align: text-bottom;
            margin-right: 5px;
        }
/*Modified controls*/
.checkbox{
    display: inline-block;
    width: 1.5em;
    height: 1.5em;
    margin-right: 0.25em;
    vertical-align: middle;
    margin-top: 0.25em;
}
    .checkbox > label {
        font-size: 1.2em;
        width: 1.2em;
        height: 1.2em;
        cursor: pointer;
    }
    .checkbox > input{
        display: none;
    }
        .checkbox > input:checked ~ label.unchecked {
            display: none;
        }
        .checkbox > input:not(:checked) ~ label.checked {
            display: none;
        }
.radio{

}
    .radio input{
        display: none;
    }
    .radio label {
        display: block;
        position: relative;
        width: 18px;
        height: 18px;
        border: 2px solid #026aa7;
        border-radius: 9px;
    }
    .radio input:checked ~ label:before{
        position: absolute;
        top: 2px;
        left: 2px;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background-color: #026aa7;
        content: "";
    }
.SumoSelect > .CaptionCont {
    height: 36px;
    line-height: 36px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 18px;
    background-color: transparent;
    box-shadow: none;
}
.SumoSelect{
    width: 100%;
}
.SumoSelect>.CaptionCont>label{
    right: 10px;
}
.SumoSelect.open > .CaptionCont, .SumoSelect:focus > .CaptionCont, .SumoSelect:hover > .CaptionCont {
    box-shadow: none;
    border-color: #026aa7;
}
.SumoSelect > .optWrapper {
    border-radius: 10px;
    padding: 5px;
    top: 45px !important;
    overflow: visible;
}
    .SumoSelect > .optWrapper:before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: 6px solid transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        top: -12px;
        right: 20px;
        z-index: 2;
    }
    .SumoSelect > .optWrapper:after {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        top: -16px;
        right: 18px;
        z-index: 1;
    }
/*Head cart*/
.head-cart {
    height: 30px;
    line-height: 30px;
    transition: all 300ms ease;
}
    .head-cart > .cart-icon {
        color: #026aa7;
        height: 30px;
        width: 30px;
        border-radius: 15px;
        text-align: center;
        background-color: #fff;
    }
        .head-cart > .cart-icon a {
            text-decoration: none;
        }
        .head-cart > .cart-icon > .material-icons {
            font-size: 20px;
            line-height: 30px;
        }
.head.guest .head-cart{
    padding-top: 3px;
}
/*Breadcrumbs*/
.breadcrumbs-container {
    background-color: #f2f2f2;
    border-bottom: solid 1px #e5e5e5;
    display: flex;
    position: relative;
}
.breadcrumbs-slide {
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
    .breadcrumbs-slide .scroll-left{
        position: absolute;
        left: 0px;
        top: 0px;
        background-color: #f2f2f2;
        height: 100%;
        width: 40px;
        z-index: 1;
        line-height: 10px;
        cursor: pointer;
        user-select: none;
        font-weight: 500;
        text-align: left;
        line-height: 42px;
        visibility: hidden;
        opacity: 0;
        transition: all 300ms ease;
    }
        .breadcrumbs-slide .scroll-left > i {
            display: inline-block;
            margin-right: 5px;
        }
    .breadcrumbs-slide .scroll-right {
        position: absolute;
        right: 0px;
        top: 0px;
        background-color: #f2f2f2;
        height: 100%;
        width: 40px;
        z-index: 1;
        line-height: 10px;
        cursor: pointer;
        user-select: none;
        font-weight: 500;
        text-align: right;
        line-height: 42px;
        visibility: visible;
        opacity: 1;
        transition: all 300ms ease;
    }

        .breadcrumbs-slide .scroll-right > i {
            display: inline-block;
            margin-left: 5px;
        }
ul.breadcrumbs {
    margin: 0px;
    padding: 0px;
    list-style: none;
    white-space: nowrap;
    font-size: 14px;
    display: inline-flex;
}
    ul.breadcrumbs.big {
        font-size: 18px;
    }
    ul.breadcrumbs li {
        margin-top: 1em;
        margin-bottom: 1em;
        color: #acacac;
        line-height: 1em;
    }
        ul.breadcrumbs li a {
            color: #acacac;
        }
        ul.breadcrumbs li.active {
            color: #666666;
            font-weight: 500;
        }
            ul.breadcrumbs li.active a{
                color: #666666;
                font-weight: 500;
            }
        ul.breadcrumbs li.separator {
            width: 1px;
            height: 1.5em;
            margin-left: 1em;
            margin-right: 1em;
            margin-top: 0.75em;
            margin-bottom: 0.75em;
            background-color: #acacac;
        }
        ul.breadcrumbs li.separator:before {
            content: "a";
            display: block;
            color: transparent;
        }
    ul.breadcrumbs.big li.separator {
        margin-left: 2em;
        margin-right: 2em;
    }
.breadcrumbs-container .avatar-wrapper{
    width: 232px;
    height: 232px;
    border-radius: 116px;
    overflow: hidden;
    position: absolute;
    bottom: 0px;
    left: 10px;
    margin-bottom: 1em;
}
    .breadcrumbs-container .avatar-wrapper + ul {
        margin-left: 247px;
    }
.breadcrumbs-container .avatar-wrapper > img{
    display: block;
    width: 100%;
    object-fit: cover;
}
.breadcrumbs-container .avatar-wrapper > .change-avatar-button{
    position: absolute;
    width: 200%;
    left: -50%;
    height: 100px;
    line-height: 40px;
    background-color: rgba(0,0,0,0.5);
    bottom: -40px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    transition: all 300ms ease;
    font-size: 12px;
}
    .breadcrumbs-container .avatar-wrapper > .change-avatar-button > i.material-icons {
        display: inline-block;
        vertical-align: middle;
        margin-top: -5px;
    }
    .breadcrumbs-container .avatar-wrapper:hover > .change-avatar-button {
        visibility: visible;
        opacity: 1;
    }
.breadcrumbs-container .float-right-buttons{
    position: absolute;
    right: 0px;
}
.breadcrumbs-container .float-right-buttons.has-button {
    margin-top: 12px;
}
.breadcrumbs-container .float-right-buttons button{
    border: none;
    outline: none;
    background: none;
    color: #737373;
    cursor: pointer;
    margin-top: 8px;
    margin-right: 2px;
}
    .breadcrumbs-container .float-right-buttons button:hover {
        color: #026aa7;
    }
.breadcrumbs.has-button li{
    line-height: 36px;
}
.breadcrumbs.has-button li.separator {
    margin-top: 20px;
}
.breadcrumbs li .btn{
    display: inline-block;
    vertical-align: middle;
    float: left;
    margin-right: 10px;
}
    .breadcrumbs li .btn > i {
        font-size: 20px;
        vertical-align: middle;
        margin-top: -2px;
        margin-right: 5px;
    }
/*Cover image*/
.cover-image-wrapper {
    min-height: 300px;
    max-height: 480px;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}
.cover-image-wrapper > img{
    width: 100%;
}
    .cover-image-wrapper > .username {
        position: absolute;
        left: 246px;
        bottom: 20px;
        font-size: 36px;
        color: #ffffff;
        text-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    }
    .cover-image-wrapper > .change-cover-button {
        position: absolute;
        bottom: 10px;
        right: 10px;
        border: none;
        background-color: rgba(0,0,0,0.5);
        color: #ffffff;
        padding: 10px 20px;
        border-radius: 2em;
        visibility: hidden;
        opacity: 0;
        transition: all 300ms ease;
        cursor: pointer;
        outline: none;
    }
        .cover-image-wrapper > .change-cover-button > i.material-icons {
            display: inline-block;
            vertical-align: middle;
            margin-top: -4px;
            margin-right: 5px;
        }
    .cover-image-wrapper:hover > .change-cover-button {
        visibility: visible;
        opacity: 1;
    }
/*Intro box*/
.intro-box {
    font-size: 20px;
    font-weight: 300;
    margin-top: 60px;
}
    .intro-box .material-icons {
        font-size: 36px;
    }
    .intro-box td {
        padding: 10px 15px;
    }
    .intro-box tr td:first-child {
        text-align: center;
    }
/*Footer*/
footer {
    background-color: #eeeeee;
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 30px;
}
.footer-cols{
    display: flex;
}
.footer-cols .col{
    flex-basis: 20%;
    padding: 0px 10px;
}
footer .col-title{
    font-weight: 600;
    margin-bottom: 20px;
}
footer .col-list {
    list-style: none;
    padding: 0px;
    margin-top: 20px;
}
    footer .col-list li {
        padding: 5px 0px;
    }
        footer .col-list li a {
            color: #737373;
        }
        footer .download-app > a > img{
            display: block;
            margin: 10px 0px;
            width: 100%;
        }
.soccial-icons{
    text-align: left;
    margin-top: 20px;
}
    .soccial-icons img {
        height: 32px;
        margin-right: 10px;
    }
/*Categories Verticle*/
.categories-verticle {
    list-style: none;
    margin: 0px;
    padding: 0px;
    border: 1px solid #eaeaea;
    position: relative;
    width: 234px;
    border-radius: 3px;
}
    .categories-verticle > li {
        height: 42px;
        line-height: 42px;
        border-bottom: 1px solid #eaeaea;
        background-color: #fafafa;
        overflow: visible;
    }
        .categories-verticle > li.active{
            background-color: #f5f5f5;
        }
        .categories-verticle > li.special {
            height: auto;
            line-height: 1.5em;
            padding-top: 5px;
            padding-bottom: 5px;
        }
    /*.categories-verticle > li:hover {
        background-color: #026aa7;
    }
        .categories-verticle > li:hover > a {
            color: #ffffff;
        }
        .categories-verticle > li:hover > .icon {
            background-color: #ffffff;
            color: #026aa7;
        }*/
        .categories-verticle > li > .icon {
            display: inline-block;
            vertical-align: middle;
            width: 30px;
            height: 30px;
            border-radius: 16px;
            background-color: #026aa7;
            color: #ffffff;
            padding: 0px;
            text-align: center;
            margin-left: 5px;
            margin-right: 10px;
            white-space: nowrap;
        }
            .categories-verticle > li > .icon > img {
                width: 30px;
                height: 30px;
                border-radius: 16px;
                float: left;
            }
            .categories-verticle > li > .icon > i[class*='zozo-'] {
                font-size: 20px;
                line-height: 30px;
                margin: 0px;
                padding: 0px;
            }
        .categories-verticle > li > a{
            display: inline-block;
            vertical-align: middle;
            color: #737373;
        }
        .categories-verticle > li.special > a {
            font-weight: 500;
        }
            .categories-verticle > li.special > a > small {
                font-weight: 300;
            }
        .categories-verticle li.has-sub:hover::after {
            content: "";
            background-image: url('../img/icons/ic_chevron_right_black_24px.svg');
            background-size: 100% auto;
            background-position: center center;
            width: 24px;
            height: 24px;
            float: right;
            right: 0px;
            margin-top: 8px;
            opacity: 0.2;
        }
        .categories-verticle > li ul.sub {
            list-style: none;
            margin: 0px;
            padding: 0px;
            border: 1px solid #eaeaea;
            position: absolute;
            top: -1px;
            left: 232px;
            height: 464px;
            width: 234px;
            overflow: visible;
            z-index: 1;
            background-color: #ffffff;
            visibility: hidden;
            opacity: 0;
            transition: all 300ms ease;
            transition-delay: 200ms;
            transform: translateX(0px);
            box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
        }
            .categories-verticle > li ul.sub li {
                height: 42px;
                line-height: 42px;
                border-bottom: 1px solid #eaeaea;
                background-color: #fafafa;
                overflow: visible;
                padding-left: 10px;
                padding-right: 10px;
            }
                .categories-verticle > li ul.sub li a {
                    color: #737373;
                    display: inline-block;
                    white-space: nowrap;
                    max-width: 100%;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }
    .categories-verticle li:hover > a, .categories-verticle li ul.sub li:hover > a, .categories-verticle li .mega-sub li:hover > a {
        color: #ff6639;
    }
    .categories-verticle > li:hover > .icon{
        background-color: #ff6639;
    }
    .categories-verticle > li.active > .icon {
        background-color: #ffffff;
        color: #ff6639;
    }
    .categories-verticle li.has-sub:hover > ul.sub {
        visibility: visible;
        opacity: 1.0;
        transition-delay: 0ms;
        transform: translateX(0px);
    }
    .categories-verticle > li .mega-sub {
        margin: 0px;
        padding: 0px;
        border: 1px solid #eaeaea;
        position: absolute;
        top: -1px;
        left: 232px;
        height: 464px;
        max-height: 464px;
        width: 707px;
        overflow: visible;
        z-index: 1;
        background-color: #ffffff;
        visibility: hidden;
        opacity: 0;
        transition: all 300ms ease;
        transition-delay: 200ms;
        box-shadow: 3px 3px 3px rgba(0,0,0,0.1);
        text-align: left;
        display: flex;
        flex-flow: column wrap;
        align-items: flex-start;
    }
    .categories-verticle li.has-sub:hover > .mega-sub {
        visibility: visible;
        opacity: 1.0;
        transition-delay: 0ms;
    }
    .categories-verticle > li .mega-sub ul {
        width: 33%;
        padding: 20px 0px 0px 20px;
        margin: 0px;
        list-style: none;
    }
        .categories-verticle > li .mega-sub ul li {
            line-height: 1.5em;
        }
            .categories-verticle > li .mega-sub ul li a {
                color: #737373;
            }
            .categories-verticle > li .mega-sub ul li:first-child {
                font-weight: 600;
                margin-bottom: 10px;
            }
/*Home guest login*/
.home-guest-login {
    background-image: linear-gradient(to bottom, #04a3d3, #026aa7);
    padding: 10px;
}
/*Product single line*/
.products-single-line{
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}
.products-multi-line {

}
.user-home-center .products-single-line{
    width: 705px; 
}
.user-home-center .brands-single-line {
    width: 705px;
}
.products-single-line .list, .user-product-list {
    display: flex;
    flex-direction: row;
    vertical-align: top;
    margin-top: 20px;
    /*margin-left: -5px;
        margin-right: -5px;*/
}
.products-multi-line .list {
    display: flex;
    flex-direction: row;
    vertical-align: top;
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
}
    .list .item-wrapper, .user-product-list .item-wrapper {
        flex-basis: 20%;
        padding: 5px;
        height: 370px;
        outline: none !important;
        position: relative;
    }
        .list .item- .delete-btn, .user-product-list .item .delete-btn {
            position: absolute;
            z-index: 2;
            top: 0px;
            right: 0px;
            height: 42px;
            width: 42px;
            text-align: right;
            line-height: 42px;
            border-bottom-left-radius: 42px;
            background-color: rgba(0,0,0,0.5);
            padding-top: 3px;
            padding-right: 3px;
            color: #ffffff;
            cursor: pointer;
            visibility: hidden;
        }
            /*.products-single-line .list .item- .delete-btn .material-icons, .user-product-list .item .delete-btn .material-icons {
                font-size: 20px;
            }*/
        .list .item:hover .delete-btn, .user-product-list .item:hover .delete-btn{
            visibility: visible;
        }
        .list .item-wrapper a, .user-product-list .item-wrapper a {
            color: #737373;
            text-decoration: none;
            outline: none !important;
        }
    .list .item, .user-product-list .item {
        background-color: #ffffff;
        height: 292px;
        overflow: visible;
        position: relative;
    }

        .list .item .item-img, .user-product-list .item .item-img {
            width: 100%;
        }
        .list .item .item-name, .user-product-list .item .item-name {
            width: 100%;
            height: 3em;
            padding: 5px;
            margin-top: 10px;
            margin-bottom: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .list .item .item-price, .user-product-list .item .item-price {
            padding: 5px;
            position: relative;
        }
            .list .item .item-price .current-price, .user-product-list .item .item-price .current-price {
            }
            .list .item .item-price .old-price, .user-product-list .item .item-price .old-price {
                position: absolute;
                font-size: 12px;
                right: 5px;
                bottom: 5px;
                text-decoration: line-through;
            }
            .list .item .item-price .discount, .user-product-list .item .item-price .discount {
                position: absolute;
                font-size: 12px;
                right: 5px;
                bottom: 20px;
                color: #ff6639;
            }
        .list .item .item-ratings, .user-product-list .item .item-ratings {
            padding: 5px;
            line-height: 14px;
            margin-bottom: 10px;
        }
            .list .item .item-ratings > i, .user-product-list .item .item-ratings > i {
                font-size: 14px;
                color: #ff6639;
                line-height: 16px;
                vertical-align: bottom;
            }
            .list .item .item-ratings > small, .user-product-list .item .item-ratings > small {
                line-height: 14px;
            }
        .list .item .favorite, .user-product-list .item .favorite {
            position: absolute;
            left: 0px;
            top: 10px;
            z-index: 2;
        }
            .list .item .favorite .liked,
            .list .item .favorite .followed,
            .user-product-list .item .favorite .liked,
            .user-product-list .item .favorite .followed {
                background-color: #026aa7;
                width: 20px;
                height: 20px;
                text-align: center;
                display: inline-block;
                vertical-align: middle;
                color: #ffffff;
            }
                .list .item .favorite .liked > i,
                .user-product-list .item .favorite .liked > i {
                    font-size: 14px;
                    color: #ffffff;
                    line-height: 20px;
                    vertical-align: top;
                }
            .list .item .favorite .followed,
            .user-product-list .item .favorite .followed {
                width: 50px;
                background-color: #ff6639;
                line-height: 22px;
                font-size: 10px;
            }
        .list .item .actions,
        .user-product-list .item .actions {
            padding: 5px;
            text-align: right;
            margin-bottom: 10px;
            margin-top: 10px;
            visibility: hidden;
            opacity: 0.0;
            transition-delay: 0ms;
        }
            .list .item .actions > button,
            .user-product-list .item .actions > button {
                margin-right: 0px;
                margin-left: 10px;
            }
        .list .item:hover,
        .user-product-list .item:hover {
            height: 340px;
            box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
        }
        .list .item.special:hover,
        .user-product-list .item.special:hover {
            height: 292px;
        }
        .list .item:hover > .actions,
        .user-product-list .item:hover > .actions {
            visibility: visible;
            opacity: 1.0;
        }

        .list .item .actions{
            padding-top: 0px;
            display: block;
            margin-top: 0px;
            margin-bottom: 0px;
            visibility: hidden;
            opacity: 0;
        }
        .user-product-list .item .actions {
            padding-top: 0px;
            display: flex;
            justify-content: space-between;
            margin-top: 0px;
            margin-bottom: 0px;
            visibility: visible;
            opacity: 1;
        }
        
        .list .item .actions button {
            margin: 0px 0px 0px 5px;
            min-width: 80px;
            padding-left: 6px;
            padding-right: 6px;
        }
        .list .item.quickbuy .actions {
            padding-top: 0px;
            display: flex;
            justify-content: space-between;
            margin-top: 0px;
            margin-bottom: 0px;
            visibility: visible;
            opacity: 1;
        }
            .list .item.quickbuy .actions button {
                min-width: 20px;
                padding-left: 6px;
                padding-right: 6px;
                margin: 0px;
            }
            .user-product-list .item .actions button {
                margin: 0px;
                min-width: unset;
                width: 60px;
                padding-left: 6px;
                padding-right: 6px;
            }
            .list .item .actions > span,
            .user-product-list .item .actions > span {
                display: block;
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
                .list .item .actions > span img,
                .user-product-list .item .actions > span img {
                    width: 24px;
                    height: 24px;
                }
        .list .item .quickbuy-btn,
        .user-product-list .item .quickbuy-btn {
            position: absolute;
            bottom: 0px;
            width: 100%;
            left: 0px;
            height: 36px;
            line-height: 38px;
            background-color: #ff6639;
            color: #ffffff;
            text-align: center;
            visibility: visible;
            cursor: pointer;
        }
.quickbuy-btn > a {
    color: #ffffff !important;
    text-decoration: none;
    font-weight: normal;
    font-size: 13px;
}
.quickbuy-btn > a:hover {
    text-decoration: underline;
}
            .list .item .quickbuy-btn .material-icons,
            .user-product-list .item .quickbuy-btn .material-icons {
                display: inline-block;
                vertical-align: middle;
                font-size: 24px;
                margin-right: 10px;
            }
        .list .item.quickbuy,
        .user-product-list .item{
            height: 360px;
        }
            .user-product-list .item-wrapper {
                flex-basis: 33.33%;
            }
            .user-product-list .item:hover {
                height: 360px;
            }
.item-wrapper.buy-only {
    height: 330px;
}

    .item-wrapper.buy-only .item, .item-wrapper.buy-only:hover .item {
        height: 320px;
    }
/*user product list*/
.user-product-list{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-flow: row wrap;
    align-items: flex-start;
}
/*brands single line*/
.brands-single-line {
    margin-top: 30px;
    margin-bottom: 30px;
}

    .brands-single-line .brand-list {
        display: flex;
        flex-direction: row;
        vertical-align: top;
        margin-top: 20px;
        /*margin-left: -5px;
        margin-right: -5px;*/
    }

        .brands-single-line .brand-list .item-wrapper {
            flex-basis: 20%;
            padding: 5px;
            /*height: 210px;*/
            outline: none !important;
            position: relative;
        }
            .brands-single-line .brand-list .item-wrapper.dual {
                /*height: 420px;*/
            }

            .brands-single-line .brand-list .item-wrapper a {
                color: #737373;
                text-decoration: none;
                outline: none !important;
                display: block;
            }

            .brands-single-line .brand-list .item-wrapper.dual a {
                margin-bottom: 10px;
            }

        .brands-single-line .brand-list .item {
            background-color: #ffffff;
            /*height: 200px;*/
            overflow: visible;
            transition: all 300ms ease;
            position: relative;
        }

            .brands-single-line .brand-list .item .item-img {
                width: 100%;
            }
            .brands-single-line .brand-list .item .item-name {
                width: 100%;
                height: 3em;
                padding: 5px;
                margin-top: 10px;
                margin-bottom: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                text-transform: uppercase;
            }
            .brands-single-line .brand-list .item:hover {
                box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
            }
/*Slick slider*/
.slick-prev, .slick-next {
    width: 36px;
    height: 36px;
    z-index: 2;
    border-radius: 22px;
    /*box-shadow: 0px 0px 5px rgba(0,0,0,0.2);*/
    text-align: center;
    /*background-color: rgba(0,0,0,0.1);*/
}

.slick-prev:before, .slick-next:before{
    font-family: 'Material Icons';
}

    /*.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus {
        background-color: rgba(0,0,0,0.1);
    }*/
        .slick-prev:before, .slick-next:before {
            font-size: 42px;
            margin-left: -3px;
            display: block;
            text-shadow: 2px 2px 5px rgba(0,0,0,0.5);
        }
    .slick-prev {
        left: 15px;
    }
    .slick-next {
        right: 10px;
    }
    .slick-prev:before{
        content: 'chevron_left';
    }
    .slick-next:before {
        content: 'chevron_right';
    }
.products-single-line .slick-prev, .products-single-line .slick-next {
    top: 40%;
}
/*Head actions*/
.head .actions{
    display: flex;
    justify-content: space-between;
}
    .head .actions .action {
    }
    .head .actions .separator {
        color: rgba(0,0,0,0.5);
        width: 1px;
        background-color: #024972;
        height: 20px;
        margin-top: 8px;
    }
    .head .actions .action.has-notification:before {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        top: 5px;
        right: 5px;
        background-color: #ff6639;
    }
.head .actions .action .icon{
    height: 30px;
    width: 30px;
    font-size: 24px;
    line-height: 36px;
    color: rgba(0,0,0,0.5);
    float: left;
    cursor: pointer;
    transition: all 300ms ease;
    text-align: center;
    margin-top: 4px;
}
    .head .actions .action .icon.big {
        border-radius: 18px;
        background-color: #ffffff;
        color: #026aa7;
    }
        .head .actions .action .icon.big i {
            display: inline-block;
            margin-top: -2px;
        }
        .head .actions .action .icon i {
            font-size: 20px;
            line-height: 20px;
        }
        .head .actions .action:hover .icon {
            color: rgba(0,0,0,0.8);
        }
        .head .actions .action:hover .icon.big {
            color: #ff6639;
        }
        .head .actions .action.has-notification .icon {
            color: #ffffff;
        }
/*counter*/
.counter{
    display: inline-block;
    vertical-align: middle;
    width: 1.7em;
    height: 1.5em;
    line-height: 1.5em;
    background-color: #ff6639;
    color: #ffffff;
    text-align: center;
    font-size: 0.8em;
    border-radius: 3px;
    margin-top: -1px;
}
/*Dropdown*/
.dropdown{
    position: relative;
    outline: none;
    display: inline-block;
}
.dropdown .label{
    cursor: pointer;
}

.dropdown .content{
    position: absolute;
    top: 100%;
    right: 0px;
    width: 432px;
    min-height: 100px;
    max-height: 75vh;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    visibility: hidden;
    opacity: 0.0;
    transition: height 0ms, opacity 300ms ease;
    margin-top: 8px;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
    display: flex;
    flex-flow: column nowrap;
    z-index: 0;
    
    height: 0px;
}
    .dropdown .content.small {
        width: 296px;
    }
    .dropdown .content.content-180 {
        width: 180px;
    }
    .dropdown .content:before {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: 6px solid transparent;
        border-left: 6px solid transparent;
        border-right: 6px solid transparent;
        border-bottom: 6px solid #ffffff;
        top: -12px;
        right: 8px;
        z-index: 3;
    }

    .dropdown .content:after {
        content: "";
        position: absolute;
        width: 0px;
        height: 0px;
        border-top: 8px solid transparent;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid #e0e0e0;
        top: -16px;
        right: 6px;
        z-index: 2;
    }
    .dropdown.dropup .content{
        bottom: 35px;
        top: auto;
    }
        .dropdown.dropup .content:after {
            border-top: 6px solid #ffffff;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 6px solid transparent;
            top: auto;
            bottom: -12px;
            right: 6px;
            z-index: 3;
        }
        .dropdown.dropup .content:before {
            border-top: 8px solid #e0e0e0;
            border-left: 8px solid transparent;
            border-right: 8px solid transparent;
            border-bottom: 8px solid transparent;
            top: auto;
            bottom: -16px;
            right: 4px;
            z-index: 2;
        }
    .dropdown:focus .icon i, .dropdown:active .icon i, .dropdown.show .icon i {
        color: #ffffff;
    }
    .dropdown:focus .icon.big i, .dropdown:active .icon.big i, .dropdown.show .icon.big i {
        color: #ff6639;
    }
    .dropdown.show .content {
        visibility: visible;
        opacity: 1.0;
        z-index: 10;
        height: auto;
    }
    .dropdown .content .content-head{
        padding: 5px 10px;
        border-bottom: 1px solid #e0e0e0;
    }
    .dropdown .content .content-foot {
        padding: 5px 10px;
        border-top: 1px solid #e0e0e0;
    }
    .dropdown.dropdown-btn .content {
        margin-top: 12px;
    }
    .dropdown.dropdown-btn .label {
        background-color: #eaeaea;
        padding: 5px 10px;
        border-radius: 2em;
        cursor: pointer;
        user-select: none;
    }
        .dropdown.dropdown-btn .label > i {
            display: inline-block;
            vertical-align: middle;
            margin-top: -5px;
            font-size: 20px;
            margin-right: 5px;
        }
        .dropdown .content .content-body.split{
            display: flex;
            flex-direction: column;
            align-content: stretch;
        }
        .dropdown .content .content-body.split .child {
            height: 260px;
        }
.dropdown-btns{
    list-style: none;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 13px;
}
    .dropdown-btns li {
        display: block;
    }
        .dropdown-btns li > a {
            display: block;
            padding: 5px 10px;
            color: #737373;
        }
        .dropdown-btns li > a:hover {
            text-decoration: none;
            background-color: #f8f8f8;
        }
        .dropdown-btns li > a > i{
            display: inline-block;
            vertical-align: middle;
            font-size: 18px;
            line-height: 13px;
            margin-right: 5px;
            margin-top: -2px;
        }
        .dropdown-btns li.separator{
            height: 1px;
            width: 100%;
            background-color: #eaeaea;
            margin-top:5px;
            margin-bottom: 5px;
        }
        .dropdown.dropdown-chevron .label {
            cursor: pointer;
        }
        .dropdown.dropdown-chevron .content{
            right: -2px;
            margin-top: 0px;
        }
/*Friend requests*/
.friend-request {
    padding: 5px 10px;
    border-bottom: 1px solid #e0e0e0;
}
    .friend-request > img {
        height: 48px;
        width: 48px;
        border-radius: 24px;
        display: inline-block;
        vertical-align: middle;
    }
    .friend-request > span {
        display: inline-block;
        vertical-align: middle;
        margin-left: 10px;
    }
        .friend-request > span > a {
            display: block;
        }
        .friend-request > span > small > a{
            color: #acacac;
        }
    .friend-request .friend-actions{
        float: right;
        line-height: 48px;
    }
.friend-request .friend-status{
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 10px;
    right: 10px;
    top: 10px;
    background-color: #acacac;
}
    .friend-request .friend-status.color-green {
        background-color: #00ff21;
    }
    .friend-request .friend-status.color-yellow {
        background-color: #ffd800;
    }
/*messages*/
.message {
    padding: 5px 10px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    color: #737373;
    text-decoration: none;
}
.message:hover {
    text-decoration: none;
    background-color: #f8f8f8;
}
    .message > img {
        height: 48px;
        width: 48px;
        border-radius: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

    .message > .message-content {
        vertical-align: middle;
        width: 100%;
    }
        .message > .message-content > span {
            display: block;

        }
        .message > .message-content > small {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            max-width: 270px;
            font-weight: 600;
        }
            .message > .message-content > small.read {
                font-weight: 500;
            }
            .message > .message-content > small > i {
                font-size: 16px;
                line-height: 16px;
                vertical-align: bottom;;
            }
    .message .status {
        line-height: 48px;
        width: 120px;
        text-align: right;
        font-size: 12px;
        vertical-align: middle;
        white-space: nowrap;
    }
/*notification*/
.notification {
    padding: 5px 10px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    align-items: center;
    color: #737373;
    text-decoration: none;
    font-size: 12px;
}

    .notification:hover {
        text-decoration: none;
        background-color: #f8f8f8;
    }

    .notification > img {
        height: 48px;
        width: 48px;
        border-radius: 24px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
    }

    .notification > .notification-content {
        vertical-align: middle;
    }
        .notification > .notification-content > span > i {
            font-size: 16px;
            line-height: 16px;
            vertical-align: bottom;
        }
    .notification > .notification-content > time{
        display: block;
        color: #acacac;
        margin-top: 5px;
    }
        .notification > .notification-content > time > .time-icon {
            font-size: 14px !important;
            line-height: 12px;
            color: #acacac;
            margin-right: 5px;
            vertical-align: text-bottom;
        }
/*FAQ dropdown*/
.faqWrapper{
    
}
    .faqWrapper form {
        padding: 10px;
    }
    .faqWrapper .faq-block {
        border-top: 1px solid #e0e0e0;
        background-color: #f8f8f8;
        margin-bottom: 10px;
    }
    .faqWrapper .faq-block > .question{
        padding: 10px;
        border-bottom: 1px solid #e0e0e0;
    }
        .faqWrapper .faq-block > .question a {
            color: #737373;
        }
/*Personal dropdown menu*/
.personal-actions{

}
    .personal-actions > .group {
        border-bottom: 1px solid #e0e0e0;
    }
        .personal-actions > .group > .group-head {
            padding: 5px 10px;
        }
        .personal-actions > .group > .group-item {
            padding: 5px 10px 5px 20px;
            display: block;
            color: #737373;
           
        }
            .personal-actions > .group > .group-item:hover {
                background-color: #026aa7;
                color: #ffffff;
                text-decoration: none;
            }
            .personal-actions > .group > .group-item:after {
                display: block;
                content: "";
                clear: both;
            }
            .personal-actions > .group > .group-item > img {
                float: left;
                width: 24px;
                height: 24px;
                border-radius: 18px;
                margin-right: 5px;
            }
            .personal-actions > .group > .group-item > div{
                overflow: hidden;
                display: block;
                white-space: nowrap;
                line-height: 24px;
            }
                .personal-actions > .group > .group-item > div:after {
                    content: "";
                    display: block;
                    clear: both;
                }
                .personal-actions > .group > .group-item > div > .left{
                    display: block;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    font-size: 13px;
                }
                .personal-actions > .group > .group-item > div > .right {
                    float: right;
                    display: block;
                    border: 1px solid #d0d0d0;
                    font-size: 12px;
                    line-height: 12px;
                    padding: 2px;
                    border-radius: 2px;
                    margin-top: 2px;
                }
/*Quick cart*/
.quick-cart{

}
.quick-cart .cart-item{
    padding: 5px 10px;
    border-bottom: 1px solid #e0e0e0;
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}
    .quick-cart .cart-item .cart-item-image {
        width: 96px;
        margin-right: 10px;
    }
    .quick-cart .cart-item .cart-item-details {
        font-size: 13px;
    }
        .quick-cart .cart-item .cart-item-details .item-name {
            height: 2.5em;
            overflow: hidden;
            line-height: 1.2em;
            margin-bottom: 5px;
        }
        .quick-cart .cart-item .cart-item-details .item-price{
            display: flex;
            align-items: center;
            align-content: center;
            justify-content: space-between;
        }
            .quick-cart .cart-item .cart-item-details .item-price .quantity {
                flex-basis: 30%;
            }
            .quick-cart .cart-item .cart-item-details .item-price .price{
                flex-basis: 20%;
                text-align: right;
                
            }
            .quick-cart .cart-item .cart-item-details .item-price .multiply-sign {
                flex-basis: 10%;
                text-align: center;
            }
            .quick-cart .cart-item .cart-item-details .item-price .equal-sign {
                flex-basis: 10%;
                text-align: center;
            }
            .quick-cart .cart-item .cart-item-details .item-price .subtotal {
                flex-basis: 30%;
                text-align: right;
                color: #ff6639;
                font-weight: 600;
            }
    .quick-cart .cart-item .cart-item-remove {
        font-size: 12px;
        color: rgba(0,0,0,0.2);
        cursor: pointer;
        width: 25px;
        text-align: right;
    }
    .quick-cart .cart-item .cart-item-remove:hover {
        color: rgba(0,0,0,0.5);
    }
    .quick-cart .cart-total{
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
    }
    .quick-cart .cart-total .right{
        padding-right: 20px;
        font-weight: 600;
        color: #ff6639;
    }

/*number spinner*/
.input-group.input-group-spinner {
    display: flex;
}
.input-group-prepend button{
    height: 20px;
    line-height: 16px;
    padding: 0px;
    border-radius: 10px 0px 0px 10px;
    width: 1.8em !important;
    min-width: 1em !important;
    text-align: center;
    text-align: right;
    padding-right: 4px;
}
.input-group-append button {
    height: 20px;
    line-height: 16px;
    padding: 0px;
    border-radius: 0px 10px 10px 0px;
    width: 1.8em !important;
    min-width: 1em !important;
    text-align: center;
    text-align: left;
    padding-left: 4px;
}
.input-group.input-group-spinner input {
    width: 28px;
    outline: none;
    border: 1px solid #e0e0e0;
    font-size: 12px;
    color: #737373;
}
/*User home layouts*/
.user-home-wrapper{
    display: flex;
    position: relative;
    z-index: 3;
}
    .user-home-wrapper .user-home-left {
        flex-basis: 20%;
        padding-right: 5px;
        padding-top: 5px;
        flex: 1;
    }
    .user-home-wrapper .user-home-center {
        padding-top: 5px;
        flex-basis: 60%;
        min-height: 100vh;
        flex:3;
    }
    .user-home-wrapper .user-home-right {
        padding-left: 5px;
        padding-top: 5px;
        flex-basis: 20%;
        overflow: hidden;
        flex:1;
    }
/*Friend list verticle*/
.friend-list-verticle{
    background-color: #f5f5f5;
    display: block;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    border-radius: 3px;
}
    .friend-list-verticle  .friend-request {
        border-bottom: none;
        padding-bottom: 15px;
        position: relative;
    }
        .friend-list-verticle  .friend-request > img {
            width: 40px;
            height: 40px;
        }
        .friend-list-verticle  .friend-request > button{
            position: absolute;
            bottom: 0px;
            right: 10px;
        }
.friend-list-verticle  h6{
    font-weight: 500;
    padding-top: 10px;
    padding-left: 10px;
}
.friend-list-verticle .friend-quick-search{
    padding: 10px;
    height: 60px;
    display: block;
    left: 0px;
    bottom: 0px;
    width: 100%;
    position: relative;
}
#friend-list-verticle-scroll-wrapper{
    display: block;
    overflow: hidden;
    height: 100%;
    width: 100%;
    padding-bottom: 0px;
}
#friend-list-verticle-scroll-wrapper {
    display: flex;
    flex-direction: column;
}
    friend-list-verticle-scroll-wrapper > div {
        flex-basis: 50%;
    }
#friend-quick-search-setting{
    position: absolute;
    right: 10px;
    top: 17px;
}

.tab-panel {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}
.tab-panel > ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    display: block;
}
    .tab-panel > ul:after {
        display: block;
        content: "";
        clear: both;
    }
    .tab-panel > ul > li {
        float: left;
    }
    .tab-panel > ul > li.separator {
        height: 20px;
        width: 1px;
        background-color: rgba(0,0,0,0.2);
        margin-top: 10px;
    }
        .tab-panel > ul > li a {
            color: #737373;
            text-decoration: none;
            height: 40px;
            font-size: 14px;
            line-height: 40px;
            color: #737373;
            font-weight: 500;
            display: block;
            padding-left: 10px;
            padding-right: 10px;
        }
        .tab-panel > ul > li a:hover {
            text-decoration: none;
        }
            .tab-panel > ul > li a.active {
                color: #ff6639;
            }
        .tab-panel > ul > li .material-icons {
            vertical-align: middle;
            font-size: 18px;
            margin-right: 5px;
        }
.tab-panel > .tabs-container{
    background-color: #f5f5f5;
    width: 100%;
    display: block;
    position: relative;
    min-height: 100px;
}
    .tab-panel > .tabs_container .tab-content {
    }
.home-new-post-form{
    
}
.home-new-post-form .body{
    display: flex;
    padding: 10px;
    justify-content: space-between;
}
    .home-new-post-form .body > img{
        width: 56px;
        height: 56px;
        vertical-align: middle;
        border-radius: 28px;
        margin-right: 10px;
    }
    .home-new-post-form .body > textarea {
        vertical-align: middle;
        width: 100%;
        font-size: 16px;
        border: none;
        outline: none;
        resize: none;
        padding: 10px;
        background-color: transparent;
    }
    .home-new-post-form .foot{
        border-top: 1px solid #e0e0e0;
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
        .home-new-post-form .foot button[type=submit] {
            width: 100px;
        }
        .home-new-post-form .foot button.image-upload {
            background-image: linear-gradient(to bottom, #04a3d3, #026aa7);
            border: none;
            color: #ffffff;
        }
            .home-new-post-form .foot button.image-upload:active {
                background-image: linear-gradient(to bottom, #026aa7, #04a3d3);
            }
        .home-new-post-form .foot button.image-upload > .material-icons {
            vertical-align: middle;
            margin-right: 5px;
        }
.post-preview{
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    background-color: #ffffff;
    border-radius: 3px;
    padding: 15px;
}
    .post-preview .post-preview-head {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0px 0px 10px 0px;
        position: relative;
    }
        .post-preview .post-preview-head .float-right {
            position: absolute;
            right: 0px;
            top: 0px;
        }
    .post-preview .post-preview-head > img{
        width: 42px;
        height: 42px;
        border-radius: 21px;
        margin-right: 20px;
        vertical-align: middle;
    }
    .post-preview .post-preview-head > div{
        vertical-align: middle;
    }
        .post-preview .post-preview-head > .page-status {
            position: absolute;
            right: 0px;
        }
        .post-preview .post-preview-head > .page-status button{
            border: 1px solid #ff6639;
            padding: 3px 10px;
            outline: none;
            background: none;
            border-radius: 2em;
            color: #ff6639;
            cursor: pointer;
        }
            .post-preview .post-preview-head > .page-status button > i {
                display: inline-block;
                vertical-align: middle;
                margin-right: 3px;
                margin-top: 1px;
            }
            .post-preview .post-preview-head > .page-status button:hover,
            .post-preview .post-preview-head > .page-status button:active,
            .post-preview .post-preview-head > .page-status button.active{
                background-color: #ff6639;
                color: #ffffff;
            }
            .post-preview .post-preview-head > .page-status .dropdown-btn .label{
                background: none;
            }
        .post-preview .post-preview-head > div > a {
            font-weight: 500;
            color: #737373;
            line-height: 1.5em;
            font-size: 16px;
        }
        .post-preview .post-preview-head > div > small {
            margin-left: 10px;
        }
        .post-preview .post-preview-head > div > span {
            display: block;
            font-size: 12px;
        }
    .post-preview .post-preview-text {
        padding: 20px 0px 15px 0px;
    }
    .post-preview .post-preview-button {
        padding: 0px 0px 20px 0px;
    }
    .post-preview .post-preview-image {
    }
    .post-preview .post-preview-foot {
        display: flex;
        justify-content: space-around;
        padding: 10px 0px 0px 0px;
    }
        .post-preview .post-preview-foot button {
            height: 36px;
            line-height: 36px;
            color: #737373;
            font-weight: 500;
            font-size: 16px;
            outline: none;
            border: none;
            background: none;
            cursor: pointer;
            border-radius: 18px;
            padding-left: 20px;
            padding-right: 20px;
        }
            .post-preview .post-preview-foot button:hover, .post-preview .post-preview-foot button:active, .post-preview .post-preview-foot button.active {
                background-color: #F5F5F5;
            }
            .post-preview .post-preview-foot button > i {
                vertical-align: bottom;
                display: inline-block;
                vertical-align: middle;
                margin-right: 20px;
                font-size: 18px;
                color: #026aa7;
            }
    .post-preview .post-preview-status{
        background-color: #f5f5f5;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
    }
.post-comment-container {
    background-color: #f5f5f5;
    padding: 0px 10px 10px 10px;
}
    .post-comment-container .comment-block{
        display: flex;
        padding-top: 15px;
    }
        .post-comment-container > .comment-block > img {
            width: 42px;
            height: 42px;
            border-radius: 21px;
            margin-right: 10px;
        }
            .post-comment-container > .comment-block .comment-block > img{
                width: 32px;
                height: 32px;
                border-radius: 16px;
                margin-right: 10px;
            }
        .post-comment-container > .comment-block .comment{

        }
    .post-comment-container > .comment-block .comment .rating {
        display: block;
    }
            .post-comment-container > .comment-block .comment .rating .material-icons{
                font-size: 18px;
                color: #ff6639;
                margin: 2px 2px 2px 0px;
            }
        .post-comment-container > .comment-block .comment >a {
            font-weight: 500;
            color: #737373;
        }
            .post-comment-container > .comment-block .comment > p {
                padding: 10px 15px;
                background-color: #eaeaea;
                border-radius: 2em;
            }
            .post-comment-container > .comment-block .comment .comment-buttons {
                padding-left: 2em;
            }
                .post-comment-container > .comment-block .comment .comment-buttons button {
                    outline: none;
                    border: none;
                    background: none;
                    font-weight: 500;
                    color: #737373;
                    padding: 5px 15px;
                    cursor: pointer;
                }
                    .post-comment-container > .comment-block .comment .comment-buttons button > i {
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 5px;
                    }
                    .post-comment-container > .comment-block .comment .comment-buttons button:hover, .post-comment-container > .comment-block .comment .comment-buttons button:active {
                        background-color: #eaeaea;
                        border-radius: 2em;
                    }
                    .comment-block .comment .comment-buttons button.active{
                        color: #026aa7;
                    }

                    .comment-block .comment .comment-counter{
                        float: right;
                        font-size: 9px;
                    }
                        .comment-block .comment .comment-counter > span {
                            padding: 3px 9px;
                            background-color: #eaeaea;
                            border-radius: 2em;
                            margin-left: 10px;
                        }
                            .comment-block .comment .comment-counter > span > i {
                                display: inline-block;
                                vertical-align: middle;
                                margin-right: 5px;
                                font-size: 10px;
                            }
.post-comment-container .new-comment-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding-bottom: 15px;
    padding-top: 5px;
}
    .post-comment-container .new-comment-wrapper > img {
        width: 42px;
        height: 42px;
        border-radius: 21px;
        margin-right: 10px;
    }
.post-comment-container .comment .new-comment-wrapper > img {
    width: 32px;
    height: 32px;
    border-radius: 16px;
}
    .post-comment-container .new-comment-wrapper > form {
        display: block;
        width: 100%;
    }
        .post-comment-container .new-comment-wrapper > form .control {
            border-color: #eaeaea;
            background-color: #ffffff;
        }

/*Friends filter*/
.friends-filter-wrapper{
    padding: 10px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-content: center;
    border-bottom: 1px solid #eaeaea;
    font-size: 14px;
}
    .friends-filter-wrapper > form {
        width: 200px;
    }
    .friends-filter-wrapper > ul {
        list-style: none;
        margin: 0px;
        padding: 0px;
        text-align: right;
        height: 24px;
        margin-top: 6px;
    }
        .friends-filter-wrapper > ul > li {
            display: inline-block;
            line-height: 26px;
            height: 24px;
            padding: 0px 10px 0px 10px;
            cursor: pointer;
            border-radius: 2em;
        }
            .friends-filter-wrapper > ul > li:hover {
                background-color: #e0e0e0;
            }
            .friends-filter-wrapper > ul > li.active {
                background-color: #e0e0e0;
            }
/*Friend block*/
.friends-wrapper {
    display: flex;
    justify-content: space-between;
    margin-left: 0px;
    flex-flow: row wrap;
}
/*.friends-wrapper.full-width .friend-block {
    flex-basis: 100%;
}*/
.friend-block{
    display: flex;
    flex-basis: calc( 50% - 5px);
    background-color: #ffffff;
    margin-top: 10px;
    padding: 10px;
    border-radius: 3px;
}
    .friend-block:hover {
        box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
    }
    .friend-block > img {
        width: 82px;
        height: 82px;
        border-radius: 41px;
        margin-right: 10px;
    }
    .friend-block > div{
        width: 100%;
        position: relative;
    }
        .friend-block > div > a {
            display: block;
            font-size: 16px;
            font-weight: 500;
            color: #737373;
        }
        .friend-block > div > a > small{
            font-weight: 300;
        }
        .friend-block > div > span {
            display: block;
            font-size: 12px;
            color: #737373;
            margin-top: 5px;
        }
        .friend-block > div > span .material-icons{
            display: inline-block;
            vertical-align: bottom;
            margin-right: 5px;
            font-size: 20px;
        }
    .friend-block > div > .dropdown{
        position: absolute;
        right: 0px;
        bottom: 5px;
    }
        .friend-block > div > .friend-buttons {
            position: absolute;
            right: 0px;
            bottom: 5px;
            text-align: right;
        }
            .friend-block > div > .friend-buttons > button {
                margin-left: 5px;
                margin-right: 0px;
            }
            .friend-block > div > .friend-buttons > .dropdown-btn {
                display: inline-block;
                vertical-align: middle;
                height: 24px;
                line-height: 24px;
            }
                .friend-block > div > .friend-buttons > .dropdown-btn > .label {
                    padding: 0px 10px;
                    height: 24px;
                    line-height: 24px;
                    display: block;
                }
                .friend-block > div > .friend-buttons > .dropdown-btn > .content{
                    text-align: left;
                }
.seller-wrapper {
    background-color: #EEEEEE;
}
    .seller-wrapper .friend-block {
        background: none;
        box-shadow: none !important;
    }
    .seller-wrapper .friend-block > img{
        width: 48px;
        height: 48px;
    }
/*User shop add button*/
.user-shop-add-button {
}
    .user-shop-add-button > div {
        display: block;
        width: 128px;
        height: 128px;
        margin: 0px auto;
        text-align: center;
        background-color: transparent;
        border-radius: 3px;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        user-select: none;
    }
        .user-shop-add-button > div > i {
            display: block;
            color: #ff6639;
            font-size: 48px;
            padding-top: 20%;
            margin-bottom: 10px;
        }
        .user-shop-add-button > div:hover {
            background-color: #eaeaea;
        }
.ads-multi{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
    .ads-multi > a {
        display: block;
        flex-basis: calc( 25% - 8px);
    }
        .ads-multi > a img {
            object-fit: scale-down;
            max-width: 100%;

        }
.category-breadcrumbs{

}
.category-breadcrumbs ul{
    list-style: none;
    display: flex;
    margin: 0px;
    padding: 0px;
}
    .category-breadcrumbs ul li {
        display: block;
        height: 42px;
        line-height: 42px;
    }
    .category-breadcrumbs ul li.separator {
        margin-left: 5px;
        margin-right: 5px;
    }
        .category-breadcrumbs ul li a {
            color: #737373;
            text-decoration: none;
        }
        .category-breadcrumbs ul li .material-icons {
            display: inline-block;
            vertical-align: middle;
            margin-top: -2px;
        }
        .category-breadcrumbs ul li a .material-icons {
             margin-right: 10px;
        }
/*Product overview*/
.product-overview{
    display: flex;
}
.product-overview >.left{
    flex-basis: 45%;
}
    .product-overview > .right {
        flex-basis: 55%;
    }
    .option-choosing{
        margin-top: 20px;
        margin-bottom: 20px;
    }
.option-choosing dt{
    width: 80px;
    display: inline-block;
    vertical-align: top;
}
.option-choosing dd {
    display: inline-block;
    vertical-align: top;
    margin-left: 10px;
}
    .option-choosing dd ul.color-options {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        position: relative;
        padding-top: 2em;
        margin-top: -2px;
        margin-left: 2px;
    }
        .option-choosing dd ul.color-options li {
            margin-right: 10px;
        }
            .option-choosing dd ul.color-options li input {
                display: none;
            }
            .option-choosing dd ul.color-options li label {
                display: block;
                width: 24px;
                height: 24px;
                cursor: pointer;
                border: 2px solid transparent;
                border-radius: 4px;
            }
                .option-choosing dd ul.color-options li label span {
                    position: absolute;
                    width: 100%;
                    height: 1.5em;
                    line-height: 1em;
                    padding: 5px 0px 5px 0px;
                    top: 0px;
                    left: 0px;
                    visibility: hidden;
                    white-space: nowrap;
                    background-color: #FAFAFA;
                    z-index: 1;
                }
            .option-choosing dd ul.color-options li input:checked + label {
                border: 2px solid #ffffff;
            }
                .option-choosing dd ul.color-options li input:checked + label:before {
                    content: "";
                    position: absolute;
                    display: block;
                    width: 24px;
                    height: 24px;
                    border: 2px solid #026aa7;
                    margin-left: -4px;
                    margin-top: -4px;
                    border-radius: 5px;
                }
                .option-choosing dd ul.color-options li input:checked + label span {
                    visibility: visible;
                }
            .option-choosing dd ul.color-options li label:hover span {
                visibility: visible;
                z-index: 2;
            }
    .option-choosing dd ul.text-options {
        margin: 0px;
        padding: 0px;
        list-style: none;
        display: flex;
        position: relative;
    }

        .option-choosing dd ul.text-options li {
            margin-right: 10px;
        }

            .option-choosing dd ul.text-options li input {
                display: none;
            }

            .option-choosing dd ul.text-options li label {
                display: block;
                height: 24px;
                min-width: 50px;
                cursor: pointer;
                border: 2px solid transparent;
                border-radius: 4px;
                background-color: #eaeaea;
                line-height: 23px;
                text-align: center;
            }
    .option-choosing dd ul.text-options li input:checked + label {
        border: 2px solid #026aa7;
    }
    .product-details-form .submit button{
        margin-right: 10px;
        min-width: 150px;
        font-size: 16px;
        line-height: 32px;
    }
.product-image-gallery{
    padding-right: 20px;
    padding-top: 20px;
    position: relative;
    z-index: 5;
}
.product-image-gallery .xzoom-preview{
    width: 500px;
    height: 400px;
    text-align: center;
    background-color: transparent;
    border: none;
    box-shadow: none;
    margin: 0px auto;
}
    .product-image-gallery .xzoom-preview img {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }
    .product-image-gallery a {
        text-decoration: none;
    }
.xzoom-gallery {
    border: 2px solid transparent;
    border-radius: 5px;
    box-shadow: none;
}
    .xzoom-gallery.xactive {
        border: 2px solid #ff6639;
    }
.product-share{

}
    .product-share dt {
        float: left;
        width: 80px;
        text-align: right;
        margin-right: 10px;
        padding-top: 10px;
    }
    .product-share dd {
        clear: right;
        padding-top: 10px;
    }
        .product-share dd > span{
            display: inline-block;
            vertical-align: middle;
            height: 32px;
            width: 32px;
            margin-right: 10px;
        }
            .product-share dd span img {
                width: 100%;
                height: 100%;
            }
/**/
.product-info{
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
    .product-info dt{
        width: 150px;
        background-color: #eeeeee;
        padding: 10px 10px 10px 20px;
        font-weight: 500;
    }
    .product-info dd {
        flex-basis: calc(100% - 150px);
        padding: 10px;
        margin-left: 0px;
    }
.product-ratings{
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product-ratings .material-icons{
    font-size: 32px;
    vertical-align: bottom;
    margin-right: 10px;
    color: #ff6639;
}
/****** Style Star Rating Widget *****/
.clearfix{
    display: block;
    clear: both;
}
.form-rating {
    float: left;
}
    .form-rating:after {
        display: block;
        content: "";
        clear: both;
    }
    .form-rating > input {
        display: none;
    }

    .form-rating > label:before {
        margin: 2px;
        font-size: 18px;
        font-family: 'Material Icons';
        display: block;
        content: "star";
    }

    .form-rating > label {
        color: #dddddd;
        float: right;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .form-rating > input:checked ~ label, /* show gold star when clicked */
    .form-rating:not(:checked) > label:hover, /* hover current star */
    .form-rating:not(:checked) > label:hover ~ label {
        color: #ff6639;
    }
        /* hover previous stars in list */

        .form-rating > input:checked + label:hover, /* hover current star when changing rating */
        .form-rating > input:checked ~ label:hover,
        .form-rating > label:hover ~ input:checked ~ label, /* lighten current selection */
        .form-rating > input:checked ~ label:hover ~ label {
            opacity: 0.5;
        } 
/*cart*/
.cart{

}
.cart_group {
    width: 100%;
    margin-top: 20px;
}
    .cart_group .cart_seller {
        display: flex;
        align-items: center;
    }
    .cart_group .cart_seller > span {
        width: 40px;
        text-align: right;
        margin-right: 10px;
    }
        .cart_group .cart_seller > img {
            width: 32px;
            height: 32px;
            border-radius: 16px;
            margin-right: 10px;
        }
        .cart_group .cart_seller > a {
            color: #737373;
            font-weight: 500;
        }
    .cart_group .cart_items {
        border-collapse: collapse;
        width: 100%;
    }
        .cart_group .cart_items th{
            color: #acacac;
            text-align: center;
        }
        .cart_group .cart_items td {
        }
        .cart_group .cart_items tr td:nth-child(1) {
            padding: 0px;
            width: 120px;
            padding-left: 50px;
        }
        .cart_group .cart_items tr td:nth-child(2) {
            width: 30%;
            padding-left: 10px;
        }
        .cart_group .cart_items tr td:nth-child(3) {
            width: 15%;
            text-align: center;
            padding-left: 10px;
            padding-right: 10px;
        }
        .cart_group .cart_items tr td:nth-child(4) {
            text-align: center;
            width: 76px;
        }
        .cart_group .cart_items tr td:nth-child(5){
            padding-left: 10px;
            padding-right: 10px;
            text-align: center;
        }
            .cart_group .cart_items tr td:nth-child(5) > span {
                display: block;
                font-size: 16px;
            }
            .cart_group .cart_items tr td:nth-child(5) > button {
                background: none;
                outline: none;
                border: none;
                color: #acacac;
                cursor: pointer;
            }
                .cart_group .cart_items tr td:nth-child(5) > button:hover {
                    color: #737373;
                }
        .cart_group .cart_items tr td:nth-child(1) img {
            width: 120px;
        }
        .cart_group .cart_items tr td:nth-child(2) > span {
            font-size: 16px;
        }
    .cart_group .cart-total {
        background-color: #F5F5F5;
        padding: 20px;
        text-align: right;
    }
        .cart_group .cart-total > span {
            display: block;
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 5px;
        }
        .cart_group .cart-total > .btn {
            font-size: 16px;
            font-weight: 500;
            width: 200px;
            line-height: 32px;
        }
/*Modal*/
.modal{
    max-width: 840px;
    padding: 0px;
    overflow: hidden;
}
.blocker{
    z-index: 11;
}
.modal-head{
    padding: 10px 50px;
    font-size: 24px;
    font-weight: 500;
    background-color: #f5f5f5;
    margin-bottom: 20px;
    line-height: 24px;
}
    .modal-head .material-icons {
        font-size: 32px;
        vertical-align: middle;
        margin-bottom: 5px;
        margin-right: 10px;
    }
.modal a.close-modal {
    top: 15px;
    right: 10px;
    background: none;
    font-family: 'Material Icons';
    color: transparent;
    text-indent: 0px;
    user-select: none;
}
    .modal a.close-modal:before {
        font-family: 'Material Icons';
        content: "close";
        color: #acacac;
        display: block;
        font-size: 24px;
    }
/*Check out*/
.checkout-breadcrumbs{
    display: flex;
    width: auto;
    margin: 0px auto;
    text-align: center;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
    .checkout-breadcrumbs li {
        height: 42px;
        line-height: 42px;
        font-size: 16px;
        border-top: 1px solid #026aa7;
        border-bottom: 1px solid #026aa7;
        padding-left: 66px;
        padding-right: 50px;
        color: #026aa7;
        position: relative;
    }
    .checkout-breadcrumbs li:first-child {
        border-top-left-radius: 21px;
        border-bottom-left-radius: 21px;
        border-left: 1px solid #026aa7;
        padding-left:50px;
    }
        .checkout-breadcrumbs li:last-child {
            border-top-right-radius: 21px;
            border-bottom-right-radius: 21px;
            border-right: 1px solid #026aa7;
        }
        .checkout-breadcrumbs li:after {
            position: absolute;
            right: -32px;
            top: -1px;
            content: "";
            height: 0px;
            width: 0px;
            border-left: 16px solid #026aa7;
            border-right: 16px solid transparent;
            border-top: 21px solid transparent;
            border-bottom: 21px solid transparent;
        }
        .checkout-breadcrumbs li:before {
            position: absolute;
            right: -30px;
            top: 0px;
            content: "";
            height: 0px;
            width: 0px;
            border-left: 15px solid #fafafa;
            border-right: 15px solid transparent;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            z-index: 1;
        }
        .checkout-breadcrumbs li:last-child::before, .checkout-breadcrumbs li:last-child::after {
            display: none;
        }
    .checkout-breadcrumbs li.active{
        background-color: #026aa7;
        color: #ffffff;
        padding-right: 34px;
    }
        .checkout-breadcrumbs li.active::before {
            border-left: 15px solid #026aa7;
        }
/*Control form*/
.checkout-form{
    display: flex;
    justify-content: space-between;
}
    .checkout-form .col1 {
        flex-basis: 40%;
    }
    .checkout-form .col2 {
        flex-basis: 25%;
    }
    .checkout-form .col3 {
        flex-basis: 30%;
    }
    .checkout-form .col-xs-3 > label {
        line-height: 36px;
        text-align: right;
        display: block;
        font-weight: 500;
        margin-top: 20px;
    }
    .checkout-form .control, .checkout-form .SumoSelect {
        margin-top: 20px;
    }
/**/
.deliver-services {
    list-style: none;
    padding: 20px;
    background-color: #EEEEEE;
    border-radius: 10px;
}
    .deliver-services li {
        display: flex;
        padding: 5px 0px;
        align-items: center;
    }
        .deliver-services li > label {
            height: 42px;
            margin-left: 10px;
            line-height: 42px;
        }
            .deliver-services li > label img {
                max-height: 100%;
            }
    .deliver-services.small li > label {
        height: 24px;
        line-height: 24px;
    }
.invoice-info {
    padding: 5px;
    background-color: #EEEEEE;
    border-radius: 10px;
    margin-top: 15px;
}
.invoice-info .seller{
    padding-top: 10px;
}
    .invoice-info .seller span {
        display: inline-block;
        text-align: right;
        margin-right: 10px;
        width: 20px;
    }
.invoice-info .items{
    width: 100%;
    border-collapse: collapse;
    
}
    .invoice-info .items th {

    }
    .invoice-info .items td:nth-child(1) {
        text-align: left;
        padding-left: 15px;
    }
    .invoice-info .items td:nth-child(2) {
        text-align: center;
    }
    .invoice-info .items td:nth-child(3) {
        text-align: right;
        padding-right: 15px;
    }
    .invoice-info .items td:nth-child(1) a{
        display: block;
        font-weight: 500;
        margin-bottom: 10px;
        margin-top: 10px;
    }
    .invoice-info .items td:nth-child(1) span {
        display: block;
        font-size: 12px;
        margin-bottom: 5px;
    }
    .invoice-info .items tr:not(:last-child) td{
        border-bottom: 1px solid #e0e0e0;
    }
.invoice-info .invoice-foot{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 0px 0px 8px 8px;
}
    .invoice-info .invoice-foot td {
        padding: 5px;
    }
    .invoice-info .invoice-foot td:first-child {
        white-space: nowrap;
    }
    .invoice-info .invoice-foot .submit {
        text-align: center;
        margin-top: 10px;
        margin-bottom: 5px;
    }
    .invoice-info .invoice-foot table{
        border-collapse: collapse;
    }
    .invoice-info .invoice-foot tr.total td {
        font-weight: 500;
        border-top: 1px solid #e0e0e0;
    }
    .invoice-info .invoice-foot tr.total td:last-child {
        text-align: right;
    }
.checkout-success{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
/*easy zoom*/
.thumbnails {
    overflow: hidden;
    margin: 1em 0;
    padding: 0;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: center;
}

    .thumbnails li {
        display: inline-block;
        width: 96px;
        margin-left: 5px;
        margin-right: 5px;
    }

    .thumbnails img {
        display: block;
        min-width: 100%;
        max-width: 100%;
    }
.messenger-wrapper{
    display: flex;
}
    .messenger-wrapper .messenger-left {
        width: 400px;
        padding: 0px;
        border-right: 1px solid #eeeeee;
        background-color: #f5f5f5;
    }
    .messenger-wrapper .messenger-right{
        width: 800px;
        padding: 10px;
    }
/*Messenger*/
.messenger-left-head {
    padding-bottom: 5px;
    border-bottom: 1px solid #eeeeee;
}
    .messenger-left-head .settings {
        text-align: center;
        font-size: 16px;
        font-weight: 500;
        border-bottom: 1px solid #eeeeee;
        padding: 10px;
    }
    .messenger-left-head form {
        padding: 10px;
    }
.messenger-left-head .settings:after {
    display: block;
    content: "";
    clear: both;
}
.messenger-left-head .settings .dropdown{
    text-align: center;
    float: right;
}
    .messenger-left-head .settings .dropdown .label{
        margin: 0px;
        padding: 0px;
        background: none;
    }
        .messenger-left-head .settings .dropdown .label > i {
            margin: 0px;
        }
    .messenger-left-head .settings .dropdown .content {
        margin-top: 7px;
    }
.messenger-left-body{
}
.messenger-left-body .message{
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #eeeeee;
}
    .messenger-left-body .message:last-child {
        border-bottom: 1px solid transparent;
    }
.messenger-left-body .message .message-content small {
    max-width: 325px;
}
.messenger-left-body .message .status{
    position: absolute;
    right: 0px;
    top: -10px;
}