<div class="modal-dialog modal-sm">
  <div class="modal-content">
    <div class="modal-header text-center">
      <h4 class="modal-title">{{title}}</h4>
    </div>
    <div class="modal-body text-center">
      <p>{{message}}</p>
      <div class="row align-items-center">
        <div class="col-lg-12">
          <button role="button" type="button" class="btn btn-default pointer-mouse" (click)="cancel()">OK</button>
        </div>
      </div>
    </div>
  </div>
</div>