<section class="content-header">
  <h1>
    Test
  </h1>
  <ol class="breadcrumb">
    <!-- <li><a href="#"><i class="fa fa-dashboard"></i> Test</a></li> -->
    <li class="active">Test</li>
  </ol>
</section>
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Tests</h3>

          <div class="box-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control pull-right" placeholder="Search">

              <div class="input-group-btn">
                <button type="submit" class="btn btn-default">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body table-responsive no-padding">
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Content</th>
                <th>Description</th>
                <th class="text-center">
                    <a href="javascript:void(0)" (click)="addItem()" class="btn btn-primary">ADD</a>
                </th>
              </tr>
            </thead>
            <tbody *ngIf="tests.length > 0">
              <tr *ngFor="let test of tests; let i = index;">
                <th scope="row">{{i + 1}}</th>
                <td>{{test.title}}</td>
                <td>{{test.content}}</td>
                <td>{{test.description}}</td>
                <td class="text-center">
                    <a href="javascript:void(0)" (click)="detailItem(test.testId)"><i class="fa fa-eye" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)" (click)="editItem(test.testId)"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="javascript:void(0)" (click)="deleteItem(test.testId, test.title)"><i class="fa fa-times" aria-hidden="true"></i></a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
          <ul class="pagination pagination-sm no-margin pull-right">
            <li>
              <a href="#">«</a>
            </li>
            <li>
              <a href="#">1</a>
            </li>
            <li>
              <a href="#">2</a>
            </li>
            <li>
              <a href="#">3</a>
            </li>
            <li>
              <a href="#">»</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- /.box -->
    </div>
  </div>
</section>