﻿<div class="head-fixed-placeholder">
    <div class="head-fixed">
        @Html.Partial("_Head_user")
    </div>
</div>
<div class="container">
    <div class="cover-image-wrapper">
        <img src="~/Content/img/stocks/pexels-photo-547115.jpeg" />
        <span class="username">Camella Yaniki</span>
        <button class="change-cover-button"><i class="material-icons">camera_enhance</i>Thay đổi ảnh bìa</button>
    </div>
    @Html.Partial("_Breadcrumbs_user")
    <div class="messenger-wrapper">
        <div class="messenger-left">
            <div class="messenger-left-head">
                <div class="settings">
                    <span>Hộp thư</span>
                    <div class="dropdown dropdown-btn float-right">
                        <div class="label"><i class="material-icons">settings</i></div>
                        <div class="content content-180">
                            <ul class="dropdown-btns">
                                <li><a href="#">Cài đặt</a></li>
                                <li class="separator"></li>
                                <li><a href="#">Hướng dẫn</a></li>
                                <li><a href="#">Báo cáo sự cố</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <form>
                    <div class="control textbox bg-white">
                        <input type="text" value="" name="messengerSearch" id="messengerSearch" />
                        <label for="messengerSearch">Tìm kiếm trong hộp thư</label>
                        <button type="submit"><i class="material-icons">search</i></button>
                    </div>
                </form>
            </div>
            <div class="messenger-left-body">
                <a href="" class="message">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <!--
        -->
                    <div class="message-content"><span>Niaomei Yaky</span><small class="read"><i class="material-icons">check</i> Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten</small></div>
                    <div class="status"><time>4 phút trước</time></div>
                </a>
                <a href="" class="message">
                    <img src="~/Content/img/icons/avatar3.jpg" />
                    <!--
        -->
                    <div class="message-content"><span>Niaomei Yaky</span><small class="">Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten</small></div>
                    <div class="status"><time>4 phút trước</time></div>
                </a>
                <a href="" class="message">
                    <img src="~/Content/img/icons/avatar4.jpg" />
                    <!--
        -->
                    <div class="message-content"><span>Niaomei Yaky</span><small class="read"><i class="material-icons">check</i> Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten</small></div>
                    <div class="status"><time>4 phút trước</time></div>
                </a>
            </div>
        </div>
        <div class="messenger-right">
            b
        </div>
    </div>
</div>