﻿<div class="head-fixed-placeholder">
    <div class="head-fixed">
        @Html.Partial("_Head_user")
    </div>
</div>
<div class="container">
    <div class="checkout-container">
        <ul class="checkout-breadcrumbs">
            <li class="active">Thông tin đặt hàng</li>
            <li>Đặt hàng</li>
        </ul>
    </div>
    <form class="checkout-form">
        <div class="col1">
            <strong>Thông tin nhận hàng</strong>
            <div class="row">
                <div class="col-xs-3">
                    <label for="checkOutEmail">Email</label>
                </div>
                <div class="col-xs-9">
                    <div class="control textbox bordered">
                        <input type="text" name="checkOutEmail" id="checkOutEmail" value="" />
                        <label for="checkOutEmail">Nhập Email</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label for="checkOutName">Họ tên</label>
                </div>
                <div class="col-xs-9">
                    <div class="control textbox bordered">
                        <input type="text" name="checkOutName" id="checkOutName" value="" />
                        <label for="checkOutName">Nhập Họ và tên đầy đủ</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label for="checkOutPhone">Số điện thoại</label>
                </div>
                <div class="col-xs-9">
                    <div class="control textbox bordered">
                        <input type="text" name="checkOutPhone" id="checkOutPhone" value="" />
                        <label for="checkOutPhone">Nhập Số điện thoại</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label for="checkOutCity">Tỉnh/Thành phố</label>
                </div>
                <div class="col-xs-9">
                    <select class="sumoselect" name="checkOutCity" id="checkOutCity">
                        @for (var i = 1; i <= 10; i++)
                {
                    <option value="@i">Tỉnh @i</option>
        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label for="checkOutWard">Quận/Huyện</label>
                </div>
                <div class="col-xs-9">
                    <select class="sumoselect" name="checkOutWard" id="checkOutWard">
                        @for (var i = 1; i <= 10; i++)
                {
                    <option value="@i">Huyện @i</option>
        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label for="checkOutCommune">Xã/Phường</label>
                </div>
                <div class="col-xs-9">
                    <select class="sumoselect" name="checkOutCommune" id="checkOutCommune">
                        @for (var i = 1; i <= 10; i++)
                {
                    <option value="@i">Xã @i</option>
        }
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-3">
                    <label for="checkOutAddress">Số nhà, đường</label>
                </div>
                <div class="col-xs-9">
                    <div class="control textarea bordered">
                        <textarea type="text" name="checkOutAddress" id="checkOutAddress" value=""></textarea>
                        <label for="checkOutAddress">Nhập cụ thể số nhà, đường, hẻm...</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col2">
            <strong>Chọn nhà vận chuyển</strong>
            <ul class="deliver-services">
                <li>
                    <div class="radio"><input type="radio" name="deliverService" id="deliverService1" checked /><label for="deliverService1"></label></div>
                    <label for="deliverService1">
                        <img src="~/Content/img/icons/vnpost.png" />
                    </label>
                </li>
                <li>
                    <div class="radio"><input type="radio" name="deliverService" id="deliverService2" checked /><label for="deliverService2"></label></div>
                    <label for="deliverService2">
                        <img src="~/Content/img/icons/viettelpost.png" />
                    </label>
                </li>
                <li>
                    <div class="radio"><input type="radio" name="deliverService" id="deliverService3" checked /><label for="deliverService3"></label></div>
                    <label for="deliverService3">
                        <img src="~/Content/img/icons/giaohangnhanh.jpg" />
                    </label>
                </li>
                <li>
                    <div class="radio"><input type="radio" name="deliverService" id="deliverService4" checked /><label for="deliverService4"></label></div>
                    <label for="deliverService4">
                        <img src="~/Content/img/icons/giaohangtietkiem.png" />
                    </label>
                </li>
            </ul>
            <strong>Phương thức thanh toán</strong>
            <ul class="deliver-services small">
                <li>
                    <div class="radio"><input type="radio" name="payment" id="payment1" checked /><label for="payment1"></label></div>
                    <label for="payment1">
                        Thanh toán tiền mặt khi nhận hàng
                    </label>
                </li>
                <li>
                    <div class="radio"><input type="radio" name="payment" id="payment2" checked /><label for="payment2"></label></div>
                    <label for="payment2">
                        Thanh toán qua VTC Pay
                    </label>
                </li>
                <li>
                    <div class="radio"><input type="radio" name="payment" id="payment3" checked /><label for="payment3"></label></div>
                    <label for="payment3">
                        Thanh toán qua ngân hàng
                    </label>
                </li>
            </ul>
        </div>
        <div class="col3">
            <strong>Thông tin đơn hàng</strong>
            <div class="invoice-info">
                <div class="seller">
                    <span>Từ</span><a href="#">Username 123</a>
                </div>
                <table class="items">
                    <tr>
                        <th></th>
                        <th>Số lượng</th>
                        <th>Giá</th>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Tên sản phẩm</a>
                            <span>Màu sắc: Hồng trẻ trung</span>
                            <span>Kích thước: Nhỏ</span>
                        </td>
                        <td>1</td>
                        <td>123.000đ</td>
                    </tr>
                    <tr>
                        <td>
                            <a href="#">Tên sản phẩm</a>
                            <span>Màu sắc: Hồng trẻ trung</span>
                            <span>Kích thước: Nhỏ</span>
                        </td>
                        <td>1</td>
                        <td>123.000đ</td>
                    </tr>
                </table>
                <div class="invoice-foot">
                    <table>
                        <tr>
                            <td><small>Giao hàng dự kiến</small></td>
                            <td>Thứ 3, ngày 31 tháng 03 năm 2018</td>
                        </tr>
                        <tr>
                            <td><small>Phí giao hàng</small></td>
                            <td>12.000đ</td>
                        </tr>
                        <tr class="total">
                            <td><small>Tổng số tiền</small></td>
                            <td>980.000đ</td>
                        </tr>
                    </table>
                    <div class="submit">
                        <button type="button" class="btn btn-secondary" onclick="window.location.href='/Home/Success'">ĐẶT HÀNG</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>