﻿@Html.Partial("_Head_guest")
@Html.Partial("_Breadcrumbs_guest")
<div class="container">
    <div class="margin-top-10"></div>
    <table cellpadding="0" cellspacing="0" style="display: block; width: 100%;">
        <tr>
            <td width="20%" valign="top">
                @Html.Partial("_CategoriesVerticle")
            </td>
            <td width="60%" style="padding-left: 10px; padding-right: 10px;" valign="top">
                <div class="img-centered" style="height: 464px; width: 692px;">
                    <img src="~/Content/img/stocks/pexels-photo-135620.jpg" />
                </div>
            </td>
            <td width="20%" valign="top">
                <div class="home-guest-login" style="height: 464px; width: 100%;">
                    <form>
                        <div class="margin-top-30"></div>
                        <h3 class="txt-white">Đăng ký</h3>
                        <div class="margin-top-10"></div>
                        <h6 class="txt-white">Theo dõi và kết bạn</h6>
                        <div class="margin-top-30">&nbsp;</div>
                        <div class="control bordered-white textbox">
                            <input class="txt-white" type="text" id="hoTen" name="hoTen" value="" />
                            <label class="txt-white txt-small" for="hoTen">Tên đầy đủ</label>
                        </div>
                        <div class="control bordered-white textbox margin-top-15">
                            <input class="txt-white" type="text" id="email" name="email" value="" />
                            <label class="txt-white txt-small" for="email">Email</label>
                        </div>
                        <div class="control bordered-white textbox margin-top-15">
                            <input class="txt-white" type="password" id="matKhau2" name="matKhau2" value="" />
                            <label class="txt-white txt-small" for="matKhau2">Mật khẩu</label>
                        </div>
                        <button type="submit" class="btn-secondary margin-top-30">ĐĂNG KÝ</button>
                        <p class="txt-small txt-white margin-top-30">
                            Bằng cách nhấp vào nút Đăng ký, bạn đồng ý với <a class="txt-white txt-bold" href="#">Điều khoản</a> của chúng tôi và rằng bạn đã đọc <a class="txt-white txt-bold" href="#">Chính sách dữ liệu</a> của chúng tôi.
                        </p>
                    </form>
                </div>
            </td>
        </tr>
    </table>
    <div class="ads-multi margin-top-10">
        <a href="#">
            <img src="~/Content/img/stocks/pexels-photo-236900.jpeg" />
        </a>
        <a href="#">
            <img src="~/Content/img/stocks/pexels-photo-325867.jpeg" />
        </a>
        <a href="#">
            <img src="~/Content/img/stocks/pexels-photo-45055.jpeg" />
        </a>
        <a href="#">
            <img src="~/Content/img/stocks/pexels-photo-701877.jpeg" />
        </a>
    </div>
    <div class="products-multi-line">
        <h4 class="txt-bold txt-secondary margin-bottom-30 margin-top-30">Các sản phẩm trong danh mục "Giày dép - Túi xách"</h4>
        <div class="list" id="">
            <div class="item-wrapper">
                <a href="#">
                    <div class="item">
                        <div class="favorite">
                            <div class="liked"><i class="material-icons">favorite</i></div>
                        </div>
                        <div class="item-img four-three">
                            <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                        </div>
                        <div class="item-name">
                            Brend Black Luxury Collection Brend Black Luxury Collection
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        <div class="actions">
                            <button class="btn btn-primary btn-small"><i class="material-icons">favorite_border</i> Thích</button><button class="btn btn-secondary btn-small">Theo dõi</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-wrapper">
                <a href="#">
                    <div class="item">
                        <div class="favorite">
                            <div class="liked"><i class="material-icons">favorite</i></div><div class="followed">Theo dõi</div>
                        </div>
                        <div class="item-img four-three">
                            <img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" />
                        </div>
                        <div class="item-name">
                            Brend Black Luxury Collection Brend Black Luxury Collection
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        <div class="actions">
                            <button class="btn btn-primary btn-small"><i class="material-icons">favorite_border</i> Thích</button><button class="btn btn-secondary btn-small">Theo dõi</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-wrapper">
                <a href="#">
                    <div class="item">
                        <div class="item-img four-three">
                            <img src="~/Content/img/stocks/pexels-photo-371723_thumb.jpg" />
                        </div>
                        <div class="item-name">
                            Brend Black Luxury Collection Brend Black Luxury Collection
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        <div class="actions">
                            <button class="btn btn-primary btn-small"><i class="material-icons">favorite_border</i> Thích</button><button class="btn btn-secondary btn-small">Theo dõi</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-wrapper">
                <a href="#">
                    <div class="item">
                        <div class="favorite">
                            <div class="followed">Theo dõi</div>
                        </div>
                        <div class="item-img four-three">
                            <img src="~/Content/img/stocks/pexels-photo-376464_thumb.jpg" />
                        </div>
                        <div class="item-name">
                            Brend Black Luxury Collection Brend Black Luxury Collection
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        <div class="actions">
                            <button class="btn btn-primary btn-small"><i class="material-icons">favorite_border</i> Thích</button><button class="btn btn-secondary btn-small">Theo dõi</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-wrapper">
                <a href="#">
                    <div class="item">
                        <div class="item-img four-three">
                            <img src="~/Content/img/stocks/pexels-photo-45981_thumb.jpg" />
                        </div>
                        <div class="item-name">
                            Brend Black Luxury Collection Brend Black Luxury Collection
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        <div class="actions">
                            <button class="btn btn-primary btn-small"><i class="material-icons">favorite_border</i> Thích</button><button class="btn btn-secondary btn-small">Theo dõi</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-wrapper">
                <a href="#">
                    <div class="item">
                        <div class="item-img four-three">
                            <img src="~/Content/img/stocks/pexels-photo-90946_thumb.jpg" />
                        </div>
                        <div class="item-name">
                            Brend Black Luxury Collection Brend Black Luxury Collection
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        <div class="actions">
                            <button class="btn btn-primary btn-small"><i class="material-icons">favorite_border</i> Thích</button><button class="btn btn-secondary btn-small">Theo dõi</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-wrapper">
                <a href="#">
                    <div class="item">
                        <div class="item-img four-three">
                            <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                        </div>
                        <div class="item-name">
                            Brend Black Luxury Collection Brend Black Luxury Collection
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        <div class="actions">
                            <button class="btn btn-primary btn-small"><i class="material-icons">favorite_border</i> Thích</button><button class="btn btn-secondary btn-small">Theo dõi</button>
                        </div>
                    </div>
                </a>
            </div>
            <div class="item-wrapper"></div>
            <div class="item-wrapper"></div>
            <div class="item-wrapper"></div>
        </div>
    </div>
</div>
@Html.Partial("_Footer")
