﻿@{
    ViewBag.Title = "Home Page";
}
<script src="~/Scripts/controllers/home.ctrl.js"></script>
@Html.Partial("_Head_guest")
@Html.Partial("_Breadcrumbs_guest")
<div class="container" ng-controller="HomeCtrl as ctrl">
    <div class="row">
        <div class="col-xs-7">
            <table class="intro-box" style="display: block; width: 100%;">
                <tr>
                    <td width=""><span class="material-icons">group</span></td>
                    <td>Kết nối, nhắn tin với bạn bè</td>
                </tr>
                <tr>
                    <td width=""><span class="material-icons">textsms</span></td>
                    <td>Cùng bàn luận nội dung mọi người chia sẻ</td>
                </tr>
                <tr>
                    <td width=""><span class="material-icons">pages</span></td>
                    <td>Theo dõi những sở thích của bạn</td>
                </tr>
                <tr>
                    <td width=""><span class="material-icons">shopping_basket</span></td>
                    <td>Mua sắm được tích luỹ tiền</td>
                </tr>
                <tr>
                    <td width=""><span class="material-icons">monetization_on</span></td>
                    <td>Kinh doanh, kiếm tiền</td>
                </tr>
            </table>
        </div>
        <div class="col-xs-5">
            <form method="post" class="margin-top-30">
                <h1>Tạo tài khoản mới</h1>
                <h5>Miễn phí và sẽ luôn như vậy</h5>
                <div class="margin-bottom-30"></div>
                <div class="row">
                    <div class="col-xs-7">
                        <div class="control bordered textbox">
                            <input type="text" id="ho" name="ho" value="" />
                            <label for="ho">Họ và Tên đệm</label>
                        </div>
                    </div>
                    <div class="col-xs-5">
                        <div class="control bordered textbox">
                            <input type="text" id="ten" name="ten" value="" />
                            <label for="ten">Tên</label>
                        </div>
                    </div>
                </div>
                <div class="control bordered textbox margin-top-20">
                    <input type="text" id="email" name="email" value="" />
                    <label for="email">Số điện thoại hoặc email</label>
                </div>
                <div class="control bordered textbox margin-top-20">
                    <input type="text" id="matKhau-signup" name="matKhau" value="" />
                    <label for="matKhau">Nhập mật khẩu</label>
                </div>
                <h6 class="margin-top-20">Ngày sinh</h6>
                <div class="row">
                    <div class="col-xs-4">
                        <select class="sumoselect" name="ngaySinh">
                            @for (var i = 1; i <= 31; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <select class="sumoselect" name="ngaySinh">
                            @for (var i = 1; i <= 12; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                    <div class="col-xs-4">
                        <select class="sumoselect" name="ngaySinh">
                            @for (var i = 1905; i <= System.DateTime.Now.Year; i++)
                            {
                                <option value="@i">@i</option>
                            }
                        </select>
                    </div>
                </div>
                <p>
                    Bằng cách nhấp vào Tạo tài khoản, bạn đồng ý với <a href="#">Điều khoản</a> của chúng tôi và rằng bạn đã đọc <a href="#">Chính sách dữ liệu</a> của chúng tôi.
                </p>
                <button type="submit" class="btn-secondary margin-top-15" ng-click="loadInit()">TẠO TÀI KHOẢN</button>
            </form>
        </div>
    </div>
    <div class="margin-top-50">&nbsp;</div>
    <div class="margin-top-50">&nbsp;</div>

</div>
@Html.Partial("_Footer")
