﻿<div class="head-fixed-placeholder">
    <div class="head-fixed">
        @Html.Partial("_Head_user")
    </div>
</div>
<div class="container">
    <div class="cover-image-wrapper">
        <img src="~/Content/img/stocks/pexels-photo-461198.jpeg" />
        <span class="username">Yaniki's Suprise Potato Shop</span>
    </div>
    <div class="breadcrumbs-container">
        <div class="avatar-wrapper">
            <img src="~/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
        </div>
        <ul class="breadcrumbs has-button">
            <li class="active"><a href="#">Sản phẩm</a></li>
            <li class="separator"></li>
            <li class=""><a href="#">Thông tin gian hàng</a></li>
            <li class="separator"></li>
            <li class=""><a href="#">Thư viện hình ảnh</a></li>
            <li class="separator"></li>
            <li class="">
                <button class="btn"><i class="material-icons">sms</i>Nhắn tin</button>
                <button class="btn"><i class="material-icons">bookmark</i>Theo dõi</button>
            </li>
        </ul>
        <div class="float-right-buttons has-button">
            <button type="button"><i class="material-icons">settings</i></button>
        </div>
    </div>
    <div class="user-home-wrapper">
        <div class="user-home-left" id="user-home-left">
            <div id="user-home-left-fixed" class="user-home-left-fixed">
                @Html.Partial("_UserMenuVerticle")
            </div>
        </div>
        <div class="user-home-center">
            <div class="friends-filter-wrapper">
                <form>
                    <div class="control textbox bg-white">
                        <input type="text" name="productsFilter" id="productsFilter" value="" />
                        <label for="productsFilter">Tìm kiếm sản phẩm</label>
                        <button type="submit"><i class="material-icons">search</i></button>
                    </div>
                </form>
            </div>
            <div class="user-product-list">
                <div class="item-wrapper buy-only">
                    <div class="item">
                        <div class="favorite">
                            <div class="liked"><i class="material-icons">favorite</i></div>
                        </div>
                        <a href="/Home/ProductDetails">
                            <div class="item-img four-three">
                                <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                            </div>
                        </a>
                        <div class="item-name">
                            <a href="/Home/ProductDetails">
                                Brend Black Luxury Collection Brend Black Luxury Collection
                            </a>
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        @*<div class="actions">
                            <button type="button" class="btn btn-primary btn-small">Get link</button>
                            <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                            <span>
                                <img src="~/Content/img/soccial/facebook.png" />
                            </span>
                            <span>
                                <img src="~/Content/img/soccial/google-plus.png" />
                            </span>
                            <span>
                                <img src="~/Content/img/soccial/zalo.png" />
                            </span>
                        </div>*@
                        <div class="quickbuy-btn">
                            UPLOAD SẢN PHẨM
                        </div>
                    </div>
                </div>
                <div class="item-wrapper buy-only"">
                    <div class="item">
                        <div class="favorite">
                            <div class="liked"><i class="material-icons">favorite</i></div>
                        </div>
                        <a href="/Home/ProductDetails">
                            <div class="item-img four-three">
                                <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                            </div>
                        </a>
                        <div class="item-name">
                            <a href="/Home/ProductDetails">
                                Brend Black Luxury Collection Brend Black Luxury Collection
                            </a>
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        @*<div class="actions">
                            <button type="button" class="btn btn-primary btn-small">Get link</button>
                            <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                            <span>
                                <img src="~/Content/img/soccial/facebook.png" />
                            </span>
                            <span>
                                <img src="~/Content/img/soccial/google-plus.png" />
                            </span>
                            <span>
                                <img src="~/Content/img/soccial/zalo.png" />
                            </span>
                        </div>*@
                        <div class="quickbuy-btn">
                            UPLOAD SẢN PHẨM
                        </div>
                    </div>
                </div>
                <div class="item-wrapper  buy-only"">
                    <div class="item">
                        <div class="favorite">
                            <div class="liked"><i class="material-icons">favorite</i></div>
                        </div>
                        <a href="/Home/ProductDetails">
                            <div class="item-img four-three">
                                <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                            </div>
                        </a>
                        <div class="item-name">
                            <a href="/Home/ProductDetails">
                                Brend Black Luxury Collection Brend Black Luxury Collection
                            </a>
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        @*<div class="actions">
                            <button type="button" class="btn btn-primary btn-small">Get link</button>
                            <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                            <span>
                                <img src="~/Content/img/soccial/facebook.png" />
                            </span>
                            <span>
                                <img src="~/Content/img/soccial/google-plus.png" />
                            </span>
                            <span>
                                <img src="~/Content/img/soccial/zalo.png" />
                            </span>
                        </div>*@
                        <div class="quickbuy-btn">
                            UPLOAD SẢN PHẨM
                        </div>
                    </div>
                </div>
                <div class="item-wrapper buy-only"">
                    <div class="item">
                        <div class="favorite">
                            <div class="liked"><i class="material-icons">favorite</i></div>
                        </div>
                        <a href="/Home/ProductDetails">
                            <div class="item-img four-three">
                                <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                            </div>
                        </a>
                        <div class="item-name">
                            <a href="/Home/ProductDetails">
                                Brend Black Luxury Collection Brend Black Luxury Collection
                            </a>
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        @*<div class="actions">
                            <button type="button" class="btn btn-primary btn-small">Get link</button>
                            <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                            <span>
                                <img src="~/Content/img/soccial/facebook.png" />
                            </span>
                            <span>
                                <img src="~/Content/img/soccial/google-plus.png" />
                            </span>
                            <span>
                                <img src="~/Content/img/soccial/zalo.png" />
                            </span>
                        </div>*@
                        <div class="quickbuy-btn">
                            UPLOAD SẢN PHẨM
                        </div>
                    </div>
                </div>
                <div class="item-wrapper buy-only"">
                    <div class="item">
                        <div class="favorite">
                            <div class="liked"><i class="material-icons">favorite</i></div>
                        </div>
                        <a href="/Home/ProductDetails">
                            <div class="item-img four-three">
                                <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                            </div>
                        </a>
                        <div class="item-name">
                            <a href="/Home/ProductDetails">
                                Brend Black Luxury Collection Brend Black Luxury Collection
                            </a>
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        @*<div class="actions">
                            <button type="button" class="btn btn-primary btn-small">Get link</button>
                            <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                            <span>
                                <img src="~/Content/img/soccial/facebook.png" />
                            </span>
                            <span>
                                <img src="~/Content/img/soccial/google-plus.png" />
                            </span>
                            <span>
                                <img src="~/Content/img/soccial/zalo.png" />
                            </span>
                        </div>*@
                        <div class="quickbuy-btn">
                            UPLOAD SẢN PHẨM
                        </div>
                    </div>
                </div>
                <div class="item-wrapper">@* Nếu số sản phẩm không chia hết cho 3 thì tạo thêm 1 hoặc 2 div trống để bù vào *@</div>
            </div>
        </div>
        <div class="user-home-right">
            <div id="user-home-right-fixed" class="user-home-right-fixed">
                @Html.Partial("_FriendListVerticle")
            </div>
        </div>
    </div>
</div>