﻿@Html.Partial("_Head_guest")
<div class="breadcrumbs-container">
    <div class="container">
        <ul class="breadcrumbs big">
            <li class=""><a href="#">TRANG CHỦ</a></li>
            <li class="separator"></li>
            <li class="active"><a href="#">MUA SẮM</a></li>
        </ul>
    </div>
</div>
<div class="container">
    <div class="category-breadcrumbs">
        <ul>
            <li><a href="#"><i class="material-icons">home</i>Trang chủ</a></li>
            <li class="separator"><i class="material-icons">chevron_right</i></li>
            <li><a href="#">Điện thoại - Máy tính</a></li>
            <li class="separator"><i class="material-icons">chevron_right</i></li>
            <li><a href="#">SmartPhone</a></li>
            <li class="separator"><i class="material-icons">chevron_right</i></li>
            <li><a href="#">Samsung</a></li>
        </ul>
    </div>
</div>
<div class="seller-wrapper">
    <div class="container">
        <div class="friend-block">
            <img src="/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
            <div>
                <a href=""><small>Được bán bởi</small> Khoai Tây Shop</a>
                <span><i class="material-icons">location_on</i>TP Hồ Chí Minh</span>
                <div class="friend-buttons">
                    <div class="dropdown dropdown-btn">
                        <span class="label"><i class="material-icons">check</i> Theo dõi</span>
                        <div class="content content-180">
                            <ul class="dropdown-btns">
                                <li><a href="#">Nhận thông báo</a></li>
                                <li class="separator"></li>
                                <li><a href="#">Bỏ theo dõi</a></li>
                            </ul>
                        </div>
                    </div>
                    <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="product-overview">
        <div class="left">
            <div class="product-image-gallery">
                <div class="easyzoom easyzoom--overlay easyzoom--with-thumbnails is-ready">
                    <a href="/Content/img/stocks/pexels-photo-336372.jpeg">
                        <img src="/Content/img/stocks/pexels-photo-336372.jpeg" alt="" width="540">
                    </a>
                </div>
                <ul class="thumbnails">
                    <li>
                        <a href="/Content/img/stocks/pexels-photo-336372.jpeg" data-standard="/Content/img/stocks/pexels-photo-336372.jpeg">
                            <img src="/Content/img/stocks/pexels-photo-336372_thumb.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="/Content/img/stocks/pexels-photo-371723.jpeg" data-standard="/Content/img/stocks/pexels-photo-371723.jpeg">
                            <img src="/Content/img/stocks/pexels-photo-371723_thumb.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="/Content/img/stocks/pexels-photo-376464.jpeg" data-standard="/Content/img/stocks/pexels-photo-376464.jpeg">
                            <img src="/Content/img/stocks/pexels-photo-376464_thumb.jpg" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="/Content/img/stocks/pexels-photo-90946.jpeg" data-standard="/Content/img/stocks/pexels-photo-90946.jpeg">
                            <img src="/Content/img/stocks/pexels-photo-90946_thumb.jpg" alt="">
                        </a>
                    </li>
                </ul>
            </div>
                @*<div class="xzoom-preview four-third">
            <img class="xzoom" src="/Content/img/stocks/pexels-photo-336372.jpeg" xoriginal="/Content/img/stocks/pexels-photo-336372.jpeg" />
        </div>
        <div class="xzoom-thumbs">
            <a href="/Content/img/stocks/pexels-photo-336372.jpeg">
                <img class="xzoom-gallery" width="80" src="/Content/img/stocks/pexels-photo-336372_thumb.jpg" xpreview="/Content/img/stocks/pexels-photo-336372.jpeg">
            </a>
            <a href="/Content/img/stocks/pexels-photo-371723.jpeg">
                <img class="xzoom-gallery" width="80" src="/Content/img/stocks/pexels-photo-371723_thumb.jpg" xpreview="/Content/img/stocks/pexels-photo-371723.jpeg"/>
            </a>
            <a href="/Content/img/stocks/pexels-photo-376464.jpeg">
                <img class="xzoom-gallery" width="80" src="/Content/img/stocks/pexels-photo-376464_thumb.jpg" xpreview="/Content/img/stocks/pexels-photo-376464.jpeg" />
            </a>
            <a href="/Content/img/stocks/pexels-photo-90946.jpeg">
                <img class="xzoom-gallery" width="80" src="/Content/img/stocks/pexels-photo-90946_thumb.jpg" xpreview="/Content/img/stocks/pexels-photo-90946.jpeg"/>
            </a>
        </div>*@
            
        </div>
        <div class="right">
            <h1 class="margin-bottom-30">Tên sản phẩm</h1>
            <h3>298.000đ <small class="txt-secondary">-30%</small></h3>
            <h5  class="margin-bottom-30"><del>512.000đ</del></h5>
            <p  class="margin-bottom-30 margin-top-30">Mô tả sản phẩm advertiser outdoor advertising is worthy of consideration. Outdoor advertising is considered as the oldest form of advertising. Posting bills on wooden boards in the late 19th century led to the birth of the term billboard. Today, outdoor advertising includes not only billboards but also car cards in public transportation, displays in airports, ski areas, and sports arenas and in-store displays among others. </p>
            <form class="product-details-form">
                <dl class="option-choosing">
                    <dt>Màu sắc</dt>
                    <dd>
                        <ul class="color-options">
                            <li><input type="radio" name="color" id="color1" value="1" checked /><label for="color1" style="background-color:#FF9696;"><span>Hồng trẻ trung</span></label></li>
                            <li><input type="radio" name="color" id="color2" value="1" /><label for="color2" style="background-color:#EC3333;"><span>Đỏ năng động</span></label></li>
                            <li><input type="radio" name="color" id="color3" value="1" /><label for="color3" style="background-color:#7E4545;"><span>Nâu sang trọng</span></label></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="option-choosing">
                    <dt>Kích thước</dt>
                    <dd>
                        <ul class="text-options">
                            <li><input type="radio" name="size" id="size1" value="1" checked /><label for="size1">Nhỏ</label></li>
                            <li><input type="radio" name="size" id="size2" value="1" /><label for="size2">Vừa</label></li>
                            <li><input type="radio" name="size" id="size3" value="1" /><label for="size3">Lớn</label></li>
                        </ul>
                    </dd>
                </dl>
                <dl class="option-choosing">
                    <dt>Số lượng</dt>
                    <dd>
                        <div class="numeric-up-down">
                            <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                        </div>
                    </dd>
                </dl>
                <div class="submit margin-top-30">
                    <button type="submit" class="btn btn-secondary">MUA NGAY</button>
                    <button type="submit" class="btn btn-primary"><i class="material-icons">add_shopping_cart</i>THÊM VÀO GIỎ HÀNG</button>
                </div>
            </form>
        </div>
    </div>
    <dl class="product-share">
        <dt>Chia sẻ với</dt>
        <dd>
            <span>
                <img src="/Content/img/soccial/facebook.png" />
            </span>
            <span>
                <img src="/Content/img/soccial/google-plus.png" />
            </span>
            <span>
                <img src="/Content/img/soccial/zalo.png" />
            </span>
            <button class="btn btn-bordered-primary btn-small">Chia sẻ</button>
        </dd>
        <dt>hoặc</dt>
        <dd><button class="btn btn-small btn-bordered-primary"><i class="material-icons">favorite_border</i>Thích</button><button class="btn btn-small btn-bordered-primary"><i class="material-icons">bookmark</i>Theo dõi</button><button class="btn btn-small btn-bordered-primary">Get link</button></dd>
    </dl>
</div>
<div class="page-separator">
    <div class="container"><h4>Chi tiết sản phẩm</h4></div>
</div>
<div class="container">
    <p>
        Còn màu  đen  như hình nhé khách ơi<br/>
        Siêu phẩm êm chân ôm đẹp lắm luôn<br />
        Hàng Quảng Châu chuẩn size<br />
        Đủ dây từ 35 đến 39<br />
        Hàng y hình vì ảnh của mình là ảnh chụp thật<br />
        Khách gạt ảnh để xem nhiều ảnh giày<br />
        Ai mua giày mình chắc biết giá và chất lượng hàng quá ok rồi  không phải lăn tăn gì luôn nhé<br />
    </p>
    <dl class="product-info">
        <dt>Thương hiệu</dt>
        <dd>COFFEE TREE</dd>
        <dt>Sản xuất tại</dt>
        <dd>China</dd>
        <dt>Kích thước</dt>
        <dd>12x14 cm</dd>
        <dt>Chất liệu</dt>
        <dd>Nhựa tổng hợp</dd>
        <dt>Lưu ý</dt>
        <dd>Lưu ý</dd>
    </dl>
</div>
<div class="page-separator">
    <div class="container"><h4>Đánh giá, nhận xét</h4></div>
</div>
<div class="container">
    <div class="product-ratings">
        <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i><span>35 nhận xét</span>
    </div>
    <div class="post-comment-container">
        <div class="new-comment-wrapper">
            <img src="/Content/img/icons/avatar.jpg" />
            <form>
                <div class="form-rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" class="material-icons" title="Tuyệt vời - 5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" class="material-icons" title="Tốt - 4 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" class="material-icons" title="Tạm được - 3 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" class="material-icons" title="Tệ - 2 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" class="material-icons" title="Rất tệ - 1 star"></label>
                </div>
                <div class="clearfix"></div>
                <div class="control textbox">
                    <input type="text" name="newComment" id="newComment-ahfsdjja" value="" />
                    <label for="newComment-ahfsdjja">Đánh giá của bạn...</label>
                    <button type="button"><i class="material-icons">send</i></button>
                </div>
            </form>
        </div>
        <div class="comment-block">
            <img src="/Content/img/icons/avatar3.jpg" />
            <div class="comment">
                <a href="#">Kevin Thompson</a><span class="rating"><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_border</i></span>
                <p>I am upset. At this moment, as I sit here typing this up, I am truly upset. Something happened a little while ago. I got into an argument and I am now reaping the results of that. </p>
                <div class="comment-buttons">
                    <button type="button">Thích</button><button type="button">Trả lời</button>
                </div>
            </div>
        </div>
        <div class="comment-block">
            <img src="/Content/img/icons/avatar4.jpg" />
            <div class="comment">
                <a href="#">Kevin Thompson</a>
                <p>I am upset. At this moment, as I sit here typing this up, I am truly upset. Something happened a little while ago. I got into an argument and I am now reaping the results of that. </p>
                <div class="comment-buttons">
                    <button type="button" class="active"><i class="zozo-thumbs-up"></i>Thích</button><button type="button">Trả lời</button>
                    <div class="comment-counter"><span><i class="zozo-thumbs-up-line"></i>98</span></div>
                </div>
                <div class="new-comment-wrapper">
                    <img src="/Content/img/icons/avatar.jpg" />
                    <form>
                        <div class="control textbox">
                            <input type="text" name="newComment" id="newComment-ahfsdjja" value="" />
                            <label for="newComment-ahfsdjja">Đánh giá của bạn...</label>
                            <button type="button"><i class="material-icons">send</i></button>
                        </div>
                    </form>
                </div>
                <div class="comment-block">
                    <img src="/Content/img/icons/avatar3.jpg" />
                    <div class="comment">
                        <a href="#">Kevin Thompson</a>
                        <p>I am upset. At this moment, as I sit here typing this up, I am truly upset. </p>
                        <div class="comment-buttons">
                            <button type="button" class="active"><i class="zozo-thumbs-up"></i>Thích</button><button type="button">Trả lời</button>
                            <div class="comment-counter"><span><i class="zozo-thumbs-up-line"></i>98</span></div>
                        </div>
                    </div>
                </div>
                <div class="comment-block">
                    <img src="/Content/img/icons/avatar2.jpg" />
                    <div class="comment">
                        <a href="#">Kevin Thompson</a>
                        <p>Something happened a little while ago. I got into an argument and I am now reaping the results of that. </p>
                        <div class="comment-buttons">
                            <button type="button">Thích</button><button type="button">Trả lời</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>