﻿<div class="head-fixed-placeholder">
    <div class="head-fixed">
        @Html.Partial("_Head_user")
    </div>
</div>
<div class="container">
    <div class="user-home-wrapper">
        <div class="user-home-left" id="user-home-left">
            <div id="user-home-left-fixed" class="user-home-left-fixed">
                @Html.Partial("_UserMenuVerticle")
            </div>
        </div>
        <div class="user-home-center">
            <div class="breadcrumbs-container padding-left-10">
                <ul class="breadcrumbs">
                    <li class=""><a href="/Home/SearchResultPeople">Người dùng</a></li>
                    <li class="separator"></li>
                    <li class=""><a href="/Home/SearchResultPosts">Nhật ký</a></li>
                    <li class="separator"></li>
                    <li class="active"><a href="/Home/SearchResultShops">Gian hàng</a></li>
                    <li class="separator"></li>
                    <li class=""><a href="/Home/SearchResultProducts">Sản phẩm</a></li>
                </ul>
            </div>
            <h2 class="txt-secondary padding-left-10">Kết quả tìm kiếm từ khóa "Khoai tây"</h2>
            <div class="friends-wrapper full-width">
                <div class="friend-block">
                    <img src="~/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
                    <div>
                        <a href="">Khoai Tây Shop <small>98 Lượt theo dõi</small></a>
                        <span>Bạn đã mua 98 sản phẩm từ shop này</span>
                        <div class="friend-buttons">
                            <div class="dropdown dropdown-btn">
                                <span class="label"><i class="material-icons">check</i> Theo dõi</span>
                                <div class="content content-180">
                                    <ul class="dropdown-btns">
                                        <li><a href="#">Nhận thông báo</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">Bỏ theo dõi</a></li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
                    <div>
                        <a href="">Khoai Tây Shop <small>98 Lượt theo dõi</small></a>
                        <span>Bạn đã mua 35 sản phẩm từ shop này</span>
                        <div class="friend-buttons">
                            <button class="btn btn-small"><i class="material-icons">bookmark</i>Theo dõi</button>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
                    <div>
                        <a href="">Khoai Tây Shop <small>98 Lượt theo dõi</small></a>
                        <span>Bạn đã mua 15 sản phẩm từ shop này</span>
                        <div class="friend-buttons">
                            <button class="btn btn-small"><i class="material-icons">bookmark</i>Theo dõi</button>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
                    <div>
                        <a href="">Khoai Tây Shop <small>98 Lượt theo dõi</small></a>
                        <span>Bạn đã mua 2 sản phẩm từ shop này</span>
                        <div class="friend-buttons">
                            <button class="btn btn-small"><i class="material-icons">bookmark</i>Theo dõi</button>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
                    <div>
                        <a href="">Khoai Tây Shop <small>98 Lượt theo dõi</small></a>
                        <div class="friend-buttons">
                            <button class="btn btn-small"><i class="material-icons">bookmark</i>Theo dõi</button>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
                    <div>
                        <a href="">Khoai Tây Shop <small>98 Lượt theo dõi</small></a>
                        <div class="friend-buttons">
                            <button class="btn btn-small"><i class="material-icons">bookmark</i>Theo dõi</button>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
                    <div>
                        <a href="">Khoai Tây Shop <small>98 Lượt theo dõi</small></a>
                        <div class="friend-buttons">
                            <button class="btn btn-small"><i class="material-icons">bookmark</i>Theo dõi</button>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-home-right">
            <div id="user-home-right-fixed" class="user-home-right-fixed">
                @Html.Partial("_FriendListVerticle")
            </div>
        </div>
    </div>
</div>