﻿<div class="head-fixed-placeholder">
    <div class="head-fixed">
        @Html.Partial("_Head_user")
    </div>
</div>
<div class="container">
    <div class="user-home-wrapper">
        <div class="user-home-left" id="user-home-left">
            <div id="user-home-left-fixed" class="user-home-left-fixed">
                @Html.Partial("_UserMenuVerticle")
            </div>
        </div>
        <div class="user-home-center">
            <div class="breadcrumbs-container padding-left-10">
                <ul class="breadcrumbs">
                    <li class=""><a href="/Home/SearchResultPeople">Người dùng</a></li>
                    <li class="separator"></li>
                    <li class=""><a href="/Home/SearchResultPosts">Nhật ký</a></li>
                    <li class="separator"></li>
                    <li class=""><a href="/Home/SearchResultShops">Gian hàng</a></li>
                    <li class="separator"></li>
                    <li class="active"><a href="/Home/SearchResultProducts">Sản phẩm</a></li>
                </ul>
            </div>
            <h2 class="txt-secondary padding-left-10">Kết quả tìm kiếm từ khóa "Luxury"</h2>
            <div class="user-product-list">
                <div class="item-wrapper buy-only">
                    <div class="item ">
                        <div class="favorite">
                            <div class="liked"><i class="material-icons">favorite</i></div>
                        </div>
                        <a href="/Home/ProductDetails">
                            <div class="item-img four-three">
                                <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                            </div>
                        </a>
                        <div class="item-name">
                            <a href="/Home/ProductDetails">
                                Brend Black Luxury Collection Brend Black Luxury Collection
                            </a>
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        
                        <div class="quickbuy-btn">
                            <a href="#">MUA NGAY</a> | <a href="#">THÊM VÀO GIỎ HÀNG</a>
                        </div>
                    </div>
                </div>
                <div class="item-wrapper buy-only">
                    <div class="item buy-only">
                        <div class="favorite">
                            <div class="liked"><i class="material-icons">favorite</i></div>
                        </div>
                        <a href="/Home/ProductDetails">
                            <div class="item-img four-three">
                                <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                            </div>
                        </a>
                        <div class="item-name">
                            <a href="/Home/ProductDetails">
                                Brend Black Luxury Collection Brend Black Luxury Collection
                            </a>
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        <div class="quickbuy-btn">
                            <a href="#">MUA NGAY</a> | <a href="#">THÊM VÀO GIỎ HÀNG</a>
                        </div>
                    </div>
                </div>
                <div class="item-wrapper buy-only">
                    <div class="item buy-only">
                        <div class="favorite">
                            <div class="liked"><i class="material-icons">favorite</i></div>
                        </div>
                        <a href="/Home/ProductDetails">
                            <div class="item-img four-three">
                                <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                            </div>
                        </a>
                        <div class="item-name">
                            <a href="/Home/ProductDetails">
                                Brend Black Luxury Collection Brend Black Luxury Collection
                            </a>
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        <div class="quickbuy-btn">
                            <a href="#">MUA NGAY</a> | <a href="#">THÊM VÀO GIỎ HÀNG</a>
                        </div>
                    </div>
                </div>
                <div class="item-wrapper buy-only">
                    <div class="item buy-only">
                        <div class="favorite">
                            <div class="liked"><i class="material-icons">favorite</i></div>
                        </div>
                        <a href="/Home/ProductDetails">
                            <div class="item-img four-three">
                                <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                            </div>
                        </a>
                        <div class="item-name">
                            <a href="/Home/ProductDetails">
                                Brend Black Luxury Collection Brend Black Luxury Collection
                            </a>
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        <div class="quickbuy-btn">
                            <a href="#">MUA NGAY</a> | <a href="#">THÊM VÀO GIỎ HÀNG</a>
                        </div>
                    </div>
                </div>
                <div class="item-wrapper buy-only">
                    <div class="item buy-only">
                        <div class="favorite">
                            <div class="liked"><i class="material-icons">favorite</i></div>
                        </div>
                        <a href="/Home/ProductDetails">
                            <div class="item-img four-three">
                                <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                            </div>
                        </a>
                        <div class="item-name">
                            <a href="/Home/ProductDetails">
                                Brend Black Luxury Collection Brend Black Luxury Collection
                            </a>
                        </div>
                        <div class="item-price">
                            <div class="current-price">10.000.000đ</div>
                            <div class="old-price">20.000.000đ</div>
                            <span class="discount">-50%</span>
                        </div>
                        <div class="item-ratings">
                            <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                            <small>(5 nhận xét)</small>
                        </div>
                        <div class="quickbuy-btn">
                            <a href="#">MUA NGAY</a> | <a href="#">THÊM VÀO GIỎ HÀNG</a>
                        </div>
                    </div>
                </div>
                <div class="item-wrapper">@* Nếu số sản phẩm không chia hết cho 3 thì tạo thêm 1 hoặc 2 div trống để bù vào *@</div>
            </div>
        </div>
        <div class="user-home-right">
            <div id="user-home-right-fixed" class="user-home-right-fixed">
                @Html.Partial("_FriendListVerticle")
            </div>
        </div>
    </div>
</div>