﻿<div class="head-fixed-placeholder">
    <div class="head-fixed">
        @Html.Partial("_Head_user")
    </div>
</div>
<div class="container">
    <div class="user-home-wrapper">
        <div class="user-home-left" id="user-home-left">
            <div id="user-home-left-fixed" class="user-home-left-fixed">
                @Html.Partial("_UserMenuVerticle")
            </div>
        </div>
        <div class="user-home-center">
            <div class="breadcrumbs-container padding-left-10">
                <ul class="breadcrumbs">
                    <li class="active"><a href="/Home/SearchResultPeople">Người dùng</a></li>
                    <li class="separator"></li>
                    <li class=""><a href="/Home/SearchResultPosts">Nhật ký</a></li>
                    <li class="separator"></li>
                    <li class=""><a href="/Home/SearchResultShops">Gian hàng</a></li>
                    <li class="separator"></li>
                    <li class=""><a href="/Home/SearchResultProducts">Sản phẩm</a></li>
                </ul>
            </div>
            <h2 class="txt-secondary padding-left-10">Kết quả tìm kiếm từ khóa "Alena"</h2>
            <div class="friends-wrapper full-width">
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth <small>(13 bạn chung)</small></a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="friend-buttons">
                            <div class="dropdown dropdown-btn">
                                <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                                <div class="content content-180">
                                    <ul class="dropdown-btns">
                                        <li><a href="#">Nhận thông báo</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">Bạn thân</a></li>
                                        <li><a href="#">Người quen</a></li>
                                        <li><a href="#">Đồng nghiệp</a></li>
                                        <li><a href="#">Thêm vào nhóm...</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">Giới thiệu bạn với...</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">Hủy kết bạn</a></li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth <small>(13 bạn chung)</small></a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="friend-buttons">
                            <div class="dropdown dropdown-btn">
                                <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                                <div class="content content-180">
                                    <ul class="dropdown-btns">
                                        <li><a href="#">Nhận thông báo</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">Bạn thân</a></li>
                                        <li><a href="#">Người quen</a></li>
                                        <li><a href="#">Đồng nghiệp</a></li>
                                        <li><a href="#">Thêm vào nhóm...</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">Giới thiệu bạn với...</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">Hủy kết bạn</a></li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth <small>(13 bạn chung)</small></a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="friend-buttons">
                            <div class="dropdown dropdown-btn">
                                <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                                <div class="content content-180">
                                    <ul class="dropdown-btns">
                                        <li><a href="#">Nhận thông báo</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">Bạn thân</a></li>
                                        <li><a href="#">Người quen</a></li>
                                        <li><a href="#">Đồng nghiệp</a></li>
                                        <li><a href="#">Thêm vào nhóm...</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">Giới thiệu bạn với...</a></li>
                                        <li class="separator"></li>
                                        <li><a href="#">Hủy kết bạn</a></li>
                                    </ul>
                                </div>
                            </div>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth <small>(13 bạn chung)</small></a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="friend-buttons">
                            <button class="btn btn-small"><i class="material-icons">person_add</i>Kết bạn</button>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth <small>(13 bạn chung)</small></a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="friend-buttons">
                            <button class="btn btn-small"><i class="material-icons">person_add</i>Kết bạn</button>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth <small>(13 bạn chung)</small></a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="friend-buttons">
                            <button class="btn btn-small"><i class="material-icons">person_add</i>Kết bạn</button>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth <small>(13 bạn chung)</small></a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="friend-buttons">
                            <button class="btn btn-small"><i class="material-icons">person_add</i>Kết bạn</button>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth <small>(13 bạn chung)</small></a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="friend-buttons">
                            <button class="btn btn-small"><i class="material-icons">person_add</i>Kết bạn</button>
                            <button class="btn btn-small"><i class="material-icons">sms</i>Nhắn tin</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-home-right">
            <div id="user-home-right-fixed" class="user-home-right-fixed">
                @Html.Partial("_FriendListVerticle")
            </div>
        </div>
    </div>
</div>