﻿<div class="head-fixed-placeholder">
    <div class="head-fixed">
        @Html.Partial("_Head_user")
    </div>
</div>
<div class="container">
    <div class="checkout-container">
        <ul class="checkout-breadcrumbs">
            <li >Thông tin đặt hàng</li>
            <li class="active">Đặt hàng</li>
        </ul>
    </div>
    <div class="checkout-success">
        <img width="92" src="~/Content/img/icons/check.svg" />
        <h5 class="txt-secondary margin-top-20 margin-bottom-30">Đặt hàng thành công</h5>
        <p>
            Chúc mừng bạn, hệ thống đã tự động tạo tài khoản cho bạn.
            Bấm <a href="#">vào đây</a> để bắt đầu khám phá
        </p>
    </div>
</div>