﻿<div class="head-fixed-placeholder">
    <div class="head-fixed">
        @Html.Partial("_Head_user")
    </div>
</div>
<div class="container">
    <div class="cover-image-wrapper">
        <img src="~/Content/img/stocks/pexels-photo-547115.jpeg" />
        <span class="username">Camella Yaniki</span>
        <button class="change-cover-button"><i class="material-icons">camera_enhance</i>Thay đổi ảnh bìa</button>
    </div>
    @Html.Partial("_Breadcrumbs_user")
    <div class="user-home-wrapper">
        <div class="user-home-left" id="user-home-left">
            <div id="user-home-left-fixed" class="user-home-left-fixed">
                @Html.Partial("_UserMenuVerticle")
            </div>
        </div>
        <div class="user-home-center">
            <div class="user-shop-add-button">
                <div>
                    <i class="material-icons">add_circle</i><span>Thêm gian hàng</span>
                </div>
            </div>
            <div class="friends-wrapper">
                <div class="friend-block">
                    <img src="~/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
                    <div>
                        <a href="/Home/PagePrivate">Potatos Shop <small>Lượt theo dõi <span class="counter">98</span></small></a>
                        <span class="txt-secondary">6 đơn hàng mới</span>
                        <span class="txt-secondary">6 tin nhắn mới</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">list</i> Chức năng</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#">Sửa thông tin shop</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Đơn hàng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
                    <div>
                        <a href="/Home/PagePrivate">Potatos Shop <small>Lượt theo dõi <span class="counter">98</span></small></a>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">list</i> Chức năng</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#">Sửa thông tin shop</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Đơn hàng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
                    <div>
                        <a href="/Home/PagePrivate">Potatos Shop <small>Lượt theo dõi <span class="counter">98</span></small></a>
                        <span class="txt-secondary">98 đơn hàng mới</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">list</i> Chức năng</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#">Sửa thông tin shop</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Đơn hàng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/stocks/potatoes-french-mourning-funny-162971.jpeg" />
                    <div>
                        <a href="/Home/PagePrivate">Potatos Shop <small>Lượt theo dõi <span class="counter">98</span></small></a>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">list</i> Chức năng</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#">Sửa thông tin shop</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Đơn hàng</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-home-right">
            <div id="user-home-right-fixed" class="user-home-right-fixed">
                @Html.Partial("_FriendListVerticle")
            </div>
        </div>
    </div>
</div>