﻿<div class="head-fixed-placeholder">
    <div class="head-fixed">
        @Html.Partial("_Head_user")
    </div>
</div>
@Html.Partial("_Breadcrumbs_buying")
<div class="container">
    <div class="user-home-wrapper">
        <div class="user-home-left" id="user-home-left">
            <div id="user-home-left-fixed" class="user-home-left-fixed">
                @Html.Partial("_UserMenuVerticle")
            </div>
        </div>
        <div class="user-home-center">
            <img src="~/Content/img/stocks/pexels-photo-547115.jpeg" width="100%" />
            <div class="products-single-line">
                <h4 class="txt-bold txt-secondary">Sản phẩm phổ biến</h4>
                <div class="list" id="sanPhamPhoBien_buying">
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products-single-line">
                <h4 class="txt-bold txt-secondary">Mega sale</h4>
                <div class="list" id="megaSale_buying">
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products-single-line">
                <h4 class="txt-bold txt-secondary">Gian hàng chính hãng</h4>
                <div class="list" id="gianHangChinhHang_buying">
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="brands-single-line">
                <h4 class="txt-bold txt-secondary">Danh mục ngành hàng</h4>
                <div class="brand-list" id="danhMucNganhHang_buying">
                    <div class="item-wrapper dual">
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-wrapper dual">
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-371723_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-wrapper dual">
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-376464_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-wrapper dual">
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-45981_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-wrapper dual">
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-90946_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-wrapper dual">
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-376464_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="item-wrapper dual">
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-371723_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                        <a href="/Home/ProductDetails">
                            <div class="item">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" />
                                </div>
                                <div class="item-name">
                                    Brend Black Luxury Collection
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
            <div class="">
                <h4 class="txt-bold txt-secondary">Sản phẩm gợi ý</h4>
                <div class="list user-product-list" id="">
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                    <div class="item-wrapper">
                        <div class="item quickbuy">
                            <div class="favorite">
                                <div class="liked"><i class="material-icons">favorite</i></div>
                            </div>
                            <a href="/Home/ProductDetails">
                                <div class="item-img four-three">
                                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                                </div>
                            </a>
                            <div class="item-name">
                                <a href="/Home/ProductDetails">
                                    Brend Black Luxury Collection Brend Black Luxury Collection
                                </a>
                            </div>
                            <div class="item-price">
                                <div class="current-price">10.000.000đ</div>
                                <div class="old-price">20.000.000đ</div>
                                <span class="discount">-50%</span>
                            </div>
                            <div class="item-ratings">
                                <i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star</i><i class="material-icons">star_half</i><i class="material-icons">star_border</i>
                                <small>(5 nhận xét)</small>
                            </div>
                            <div class="actions">
                                <button type="button" class="btn btn-primary btn-small">Get link</button>
                                <button type="button" class="btn btn-bordered-primary btn-small">Chia sẻ</button>
                                <span>
                                    <img src="~/Content/img/soccial/facebook.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/google-plus.png" />
                                </span>
                                <span>
                                    <img src="~/Content/img/soccial/zalo.png" />
                                </span>
                            </div>
                            <div class="quickbuy-btn">
                                <i class="material-icons">shopping_basket</i>THÊM VÀO GIỎ HÀNG
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-home-right">
            <div id="user-home-right-fixed" class="user-home-right-fixed">
                @Html.Partial("_FriendListVerticle")
            </div>
        </div>
    </div>
</div>