﻿<div class="head-fixed-placeholder">
    <div class="head-fixed">
        @Html.Partial("_Head_user")
    </div>
</div>
<div class="container">
    <div class="cover-image-wrapper">
        <img src="~/Content/img/stocks/pexels-photo-547115.jpeg" />
        <span class="username">Camella Yaniki</span>
        <button class="change-cover-button"><i class="material-icons">camera_enhance</i>Thay đổi ảnh bìa</button>
    </div>
    @Html.Partial("_Breadcrumbs_user")
    <div class="user-home-wrapper">
        <div class="user-home-left" id="user-home-left">
            <div id="user-home-left-fixed" class="user-home-left-fixed">
                @Html.Partial("_UserMenuVerticle")
            </div>
        </div>
        <div class="user-home-center">
            <div class="friends-filter-wrapper">
                <form>
                    <div class="control textbox bg-white">
                        <input type="text" name="friendsFilter" id="friendsFilter" value="" />
                        <label for="friendsFilter">Tìm kiếm bạn bè</label>
                        <button type="submit"><i class="material-icons">search</i></button>
                    </div>
                </form>
                <ul class="friends-filter-current">
                    <li class="active">Tất cả</li>
                    <li class="">Lời mời kết bạn <span class="counter">3</span></li>
                    <li class="">Bài viết mới</li>
                    <li class="">Sắp đến sinh nhật</li>
                </ul>
            </div>
            <div class="friends-wrapper">
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth</a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#">Nhận thông báo</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Bạn thân</a></li>
                                    <li><a href="#">Người quen</a></li>
                                    <li><a href="#">Đồng nghiệp</a></li>
                                    <li><a href="#">Thêm vào nhóm...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Giới thiệu bạn với...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Hủy kết bạn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth</a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#"><i class="material-icons">check</i>Nhận thông báo</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Bạn thân</a></li>
                                    <li><a href="#">Người quen</a></li>
                                    <li><a href="#">Đồng nghiệp</a></li>
                                    <li><a href="#">Thêm vào nhóm...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Giới thiệu bạn với...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Hủy kết bạn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth</a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#">Nhận thông báo</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Bạn thân</a></li>
                                    <li><a href="#">Người quen</a></li>
                                    <li><a href="#">Đồng nghiệp</a></li>
                                    <li><a href="#">Thêm vào nhóm...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Giới thiệu bạn với...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Hủy kết bạn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth</a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#"><i class="material-icons">check</i>Nhận thông báo</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Bạn thân</a></li>
                                    <li><a href="#">Người quen</a></li>
                                    <li><a href="#">Đồng nghiệp</a></li>
                                    <li><a href="#">Thêm vào nhóm...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Giới thiệu bạn với...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Hủy kết bạn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth</a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#">Nhận thông báo</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Bạn thân</a></li>
                                    <li><a href="#">Người quen</a></li>
                                    <li><a href="#">Đồng nghiệp</a></li>
                                    <li><a href="#">Thêm vào nhóm...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Giới thiệu bạn với...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Hủy kết bạn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth</a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#"><i class="material-icons">check</i>Nhận thông báo</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Bạn thân</a></li>
                                    <li><a href="#">Người quen</a></li>
                                    <li><a href="#">Đồng nghiệp</a></li>
                                    <li><a href="#">Thêm vào nhóm...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Giới thiệu bạn với...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Hủy kết bạn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth</a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#">Nhận thông báo</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Bạn thân</a></li>
                                    <li><a href="#">Người quen</a></li>
                                    <li><a href="#">Đồng nghiệp</a></li>
                                    <li><a href="#">Thêm vào nhóm...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Giới thiệu bạn với...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Hủy kết bạn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth</a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#"><i class="material-icons">check</i>Nhận thông báo</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Bạn thân</a></li>
                                    <li><a href="#">Người quen</a></li>
                                    <li><a href="#">Đồng nghiệp</a></li>
                                    <li><a href="#">Thêm vào nhóm...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Giới thiệu bạn với...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Hủy kết bạn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth</a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#">Nhận thông báo</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Bạn thân</a></li>
                                    <li><a href="#">Người quen</a></li>
                                    <li><a href="#">Đồng nghiệp</a></li>
                                    <li><a href="#">Thêm vào nhóm...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Giới thiệu bạn với...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Hủy kết bạn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth</a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#"><i class="material-icons">check</i>Nhận thông báo</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Bạn thân</a></li>
                                    <li><a href="#">Người quen</a></li>
                                    <li><a href="#">Đồng nghiệp</a></li>
                                    <li><a href="#">Thêm vào nhóm...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Giới thiệu bạn với...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Hủy kết bạn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth</a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#">Nhận thông báo</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Bạn thân</a></li>
                                    <li><a href="#">Người quen</a></li>
                                    <li><a href="#">Đồng nghiệp</a></li>
                                    <li><a href="#">Thêm vào nhóm...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Giới thiệu bạn với...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Hủy kết bạn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="friend-block">
                    <img src="~/Content/img/icons/avatar2.jpg" />
                    <div>
                        <a href="">Alena Roth</a>
                        <span>TP. Hồ Chí Minh</span>
                        <div class="dropdown dropdown-btn">
                            <span class="label"><i class="material-icons">check</i> Bạn bè</span>
                            <div class="content content-180">
                                <ul class="dropdown-btns">
                                    <li><a href="#"><i class="material-icons">check</i>Nhận thông báo</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Bạn thân</a></li>
                                    <li><a href="#">Người quen</a></li>
                                    <li><a href="#">Đồng nghiệp</a></li>
                                    <li><a href="#">Thêm vào nhóm...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Giới thiệu bạn với...</a></li>
                                    <li class="separator"></li>
                                    <li><a href="#">Hủy kết bạn</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-home-right">
            <div id="user-home-right-fixed" class="user-home-right-fixed">
                @Html.Partial("_FriendListVerticle")
            </div>
        </div>
    </div>
</div>