﻿<script src="~/Scripts/controllers/user.home.ctrl.js"></script>
<div class="head-fixed-placeholder">
    <div class="head-fixed">
        @Html.Partial("_Head_user")
    </div>
</div>
<div class="container" ng-controller="UserHomeCtrl as ctrl">
    <div class="user-home-wrapper">
        <div class="user-home-left" id="user-home-left">
            <div id="user-home-left-fixed" class="user-home-left-fixed">
                @Html.Partial("_UserMenuVerticle")
            </div>
        </div>
        <div class="user-home-center">
            <div class="home-new-content-wrapper">
                <div id="new-content-tab" class="tab-panel">
                    <ul class="tabs">
                        <li><a class="tab" href="#new-post" title=""><i class="material-icons">create</i>Tạo bài viết mới</a></li>
                        <li class="separator"></li>
                        <li><a class="tab" href="#new-product" title=""><i class="material-icons">add_circle</i>Đăng sản phẩm</a></li>
                    </ul>
                    <div class="tabs-container">
                        <div class="tab-content active tabs-pane" id="new-post">
                            <form class="home-new-post-form">
                                <div class="body">
                                    <img src="~/Content/img/icons/avatar.jpg" />
                                    <textarea name="newPost" id="newPost" placeholder="Bạn đang nghĩ gì?"></textarea>
                                </div>
                                <div class="foot">
                                    <button class="image-upload btn" type="button"><i class="material-icons">insert_photo</i>Upload ảnh</button>
                                    <button class="btn btn-primary" type="submit">ĐĂNG</button>
                                </div>
                            </form>
                        </div>
                        <div class="tab-content  tabs-pane" id="new-product">
                            Đăng sản phẩm
                        </div>
                    </div>
                </div>
            </div>
            <div class="home-posts-wrapper">
                <div class="post-preview">
                    <div class="post-preview-head">
                        <img src="~/Content/img/icons/avatar2.jpg" />
                        <div>
                            <a class="" href="#">Andre Dunn</a><small>đã đăng 1 bài viết</small><span>3 giờ trước</span>

                        </div>
                        
                    </div>
                    <div class="post-preview-text">
                        Along with conventional advertising and below the line activities, organizations and corporate bodies have come to realize that they need to invest in trade shows in order to create maximum recall for their product or brand name. There are several benefits to participating in a trade show. Some of them are:
                        A trade show offers the manufacturer a direct platform to interact with the very people who will be making purchasing decisions. Most purchasing managers of corporations make it a point to attend trade shows relevant to their needs in order to evaluate a wide range of products and services, all under one roof. If offers them attend trade shows …
                    </div>
                    <div class="post-preview-image four-three">
                        <img src="~/Content/img/stocks/pexels-photo-336372.jpeg" />
                    </div>
                    <div class="post-preview-foot">
                        <button><i class="zozo-thumbs-up-line"></i>Thích</button>
                        <button><i class="zozo-speech-bubble"></i>Bình luận</button>
                        <button><i class="zozo-share"></i>Chia sẻ</button>
                        <button><i class="zozo-chat"></i>Nhắn tin</button>
                    </div>
                    <div class="post-preview-status">
                        <span><b>123</b> người <b>Thích</b> bài viết này</span>
                        <span><b>123</b> lượt bình luận</span>
                    </div>
                    <div class="post-comment-container">
                        <div class="new-comment-wrapper">
                            <img src="~/Content/img/icons/avatar.jpg" />
                            <form>
                                <div class="control textbox">
                                    <input type="text" name="newComment" id="newComment-ahfsdjja" value="" />
                                    <label for="newComment-ahfsdjja">Bình luận của bạn...</label>
                                    <button type="button"><i class="material-icons">camera_enhance</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="comment-block">
                            <img src="~/Content/img/icons/avatar3.jpg" />
                            <div class="comment">
                                <a href="#">Kevin Thompson</a>
                                <p>I am upset. At this moment, as I sit here typing this up, I am truly upset. Something happened a little while ago. I got into an argument and I am now reaping the results of that. </p>
                                <div class="comment-buttons">
                                    <button type="button">Thích</button><button type="button">Trả lời</button>
                                </div>
                            </div>
                        </div>
                        <div class="comment-block">
                            <img src="~/Content/img/icons/avatar4.jpg" />
                            <div class="comment">
                                <a href="#">Kevin Thompson</a>
                                <p>I am upset. At this moment, as I sit here typing this up, I am truly upset. Something happened a little while ago. I got into an argument and I am now reaping the results of that. </p>
                                <div class="comment-buttons">
                                    <button type="button" class="active"><i class="zozo-thumbs-up"></i>Thích</button><button type="button">Trả lời</button>
                                    <div class="comment-counter"><span><i class="zozo-thumbs-up-line"></i>98</span></div>
                                </div>
                                <div class="comment-block">
                                    <img src="~/Content/img/icons/avatar3.jpg" />
                                    <div class="comment">
                                        <a href="#">Kevin Thompson</a>
                                        <p>I am upset. At this moment, as I sit here typing this up, I am truly upset. </p>
                                        <div class="comment-buttons">
                                            <button type="button" class="active"><i class="zozo-thumbs-up"></i>Thích</button><button type="button">Trả lời</button>
                                            <div class="comment-counter"><span><i class="zozo-thumbs-up-line"></i>98</span></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-block">
                                    <img src="~/Content/img/icons/avatar2.jpg" />
                                    <div class="comment">
                                        <a href="#">Kevin Thompson</a>
                                        <p>Something happened a little while ago. I got into an argument and I am now reaping the results of that. </p>
                                        <div class="comment-buttons">
                                            <button type="button">Thích</button><button type="button">Trả lời</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="post-preview">
                    <div class="post-preview-head">
                        <img src="~/Content/img/icons/avatar3.jpg" />
                        <div>
                            <a class="" href="#">Shop</a><small>vừa thêm 1 sản phẩm mới bởi <a href="#">Hettie Buchanan</a></small><span>4 giờ trước</span>
                        </div>
                        <div class="page-status"><button type="button"><i class="zozo-bookmark"></i>Theo dõi</button></div>
                    </div>
                    <div class="post-preview-text">
                        <b class="txt-primary">Mô tả: </b>Along with conventional advertising and below the line activities, organizations and corporate bodies have come to realize that they need to invest in trade shows in order to create maximum recall for their product or brand name. There are several benefits to participating in a trade show. Some of them are:
                        A trade show offers the manufacturer a direct platform to interact with the very people who will be making purchasing decisions. Most purchasing managers of corporations make it a point to attend trade shows relevant to their needs in order to evaluate a wide range of products and services, all under one roof. If offers them attend trade shows …
                    </div>
                    <div class="post-preview-button">
                        <button type="button" class="btn btn-small btn-bordered-secondary">MUA NGAY</button><span class="txt-bold txt-secondary">Giá: 98.000đ</span>
                    </div>
                    <div class="post-preview-image four-three">
                        <img src="~/Content/img/stocks/pexels-photo-376464.jpeg" />
                    </div>
                    <div class="post-preview-foot">
                        <button><i class="zozo-thumbs-up-line"></i>Thích</button>
                        <button><i class="zozo-speech-bubble"></i>Bình luận</button>
                        <button><i class="zozo-share"></i>Chia sẻ</button>
                        <button><i class="zozo-chat"></i>Nhắn tin</button>
                    </div>
                    <div class="post-preview-status">
                        <span><b>123</b> người <b>Thích</b> bài viết này</span>
                        <span><b>123</b> lượt bình luận</span>
                    </div>
                    <div class="post-comment-container">
                        
                        <div class="comment-block">
                            <img src="~/Content/img/icons/avatar3.jpg" />
                            <div class="comment">
                                <a href="#">Kevin Thompson</a>
                                <p>I am upset. At this moment, as I sit here typing this up, I am truly upset. Something happened a little while ago. I got into an argument and I am now reaping the results of that. </p>
                                <div class="comment-buttons">
                                    <button type="button">Thích</button><button type="button">Trả lời</button>
                                </div>
                                <div class="new-comment-wrapper">
                                    <img src="~/Content/img/icons/avatar.jpg" />
                                    <form>
                                        <div class="control textbox">
                                            <input type="text" name="newComment" id="newComment-ahfsdjja" value="" />
                                            <label for="newComment-ahfsdjja">Bình luận của bạn...</label>
                                            <button type="button"><i class="material-icons">camera_enhance</i></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="comment-block">
                            <img src="~/Content/img/icons/avatar4.jpg" />
                            <div class="comment">
                                <a href="#">Kevin Thompson</a>
                                <p>I am upset. At this moment, as I sit here typing this up, I am truly upset. Something happened a little while ago. I got into an argument and I am now reaping the results of that. </p>
                                <div class="comment-buttons">
                                    <button type="button" class="active"><i class="zozo-thumbs-up"></i>Thích</button><button type="button">Trả lời</button>
                                    <div class="comment-counter"><span><i class="zozo-thumbs-up-line"></i>98</span></div>
                                </div>
                                <div class="comment-block">
                                    <img src="~/Content/img/icons/avatar3.jpg" />
                                    <div class="comment">
                                        <a href="#">Kevin Thompson</a>
                                        <p>I am upset. At this moment, as I sit here typing this up, I am truly upset. </p>
                                        <div class="comment-buttons">
                                            <button type="button" class="active"><i class="zozo-thumbs-up"></i>Thích</button><button type="button">Trả lời</button>
                                            <div class="comment-counter"><span><i class="zozo-thumbs-up-line"></i>98</span></div>
                                        </div>
                                        <div class="new-comment-wrapper">
                                            <img src="~/Content/img/icons/avatar.jpg" />
                                            <form>
                                                <div class="control textbox">
                                                    <input type="text" name="newComment" id="newComment-ahfsdjja" value="" />
                                                    <label for="newComment-ahfsdjja">Bình luận của bạn...</label>
                                                    <button type="button"><i class="material-icons">camera_enhance</i></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="comment-block">
                                    <img src="~/Content/img/icons/avatar2.jpg" />
                                    <div class="comment">
                                        <a href="#">Kevin Thompson</a>
                                        <p>Something happened a little while ago. I got into an argument and I am now reaping the results of that. </p>
                                        <div class="comment-buttons">
                                            <button type="button">Thích</button><button type="button">Trả lời</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="user-home-right">
            <div id="user-home-right-fixed" class="user-home-right-fixed">
                @Html.Partial("_FriendListVerticle")
            </div>
        </div>
    </div>
</div>