<div class="modal-dialog" *ngIf="test !== undefined">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">{{test.title}}</h4>
    </div>
    <div class="modal-body">
      <form>
        <div class="form-group">
          <label for="content">Content</label>
          <input readonly class="form-control" id="content" value="{{test.content}}" />
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input readonly class="form-control" id="description" value="{{test.description}}" />
        </div>
      </form>
    </div>
</div>