<div class="wrapper" *ngIf="session != null">
<app-header></app-header>
<app-sidebar></app-sidebar>

  <div class="content-wrapper">
      <router-outlet></router-outlet>
  </div>
<app-footer></app-footer>
</div>
<div *ngIf="session == null">
    <login></login>
</div>
