<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close()">
        <span aria-hidden="true">×</span>
      </button>
      <h4 class="modal-title">Add new Test</h4>
    </div>
    <form #addTestForm="ngForm" (ngSubmit)="onSubmit()" role="form">
      <div class="modal-body">
        <div class="box-body">
          <div class="form-group">
            <label for="title">Title
              <span class="txtRequired">(*)</span>
            </label>
            <input type="input" class="form-control" id="title" required name="title" [(ngModel)]="test.Title" #title="ngModel">
            <div *ngIf="title.invalid && (title.dirty || title.touched)" class="txtRequired">
              <div *ngIf="title.errors.required">
                This field is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="content">Content
              <span class="txtRequired">(*)</span>
            </label>
            <input type="text" class="form-control" id="content" required name="content" [(ngModel)]="test.Content" #content="ngModel">
            <div *ngIf="content.invalid && (content.dirty || content.touched)" class="txtRequired">
              <div *ngIf="content.errors.required">
                This field is required.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Description
            </label>
            <input type="text" class="form-control" id="description" name="description" [(ngModel)]="test.Description" #description="ngModel">
          </div>
        </div>
        <div class="txtRequired">
          {{msgErr_Form}}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal" (click)="close()">Cancle</button>
        <button type="submit" class="btn btn-primary" [disabled]="!addTestForm.valid">Submit</button>
      </div>
    </form>
  </div>
</div>