<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Quản lý người dùng
    <small>({{totalItem}})</small>
  </h1>
  <ol class="breadcrumb">
    <li>
      <a href="#">
        <i class="fa fa-dashboard"></i> Quản lý người dùng</a>
    </li>
    <li class="active">Danh sách người dùng</li>
  </ol>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Danh sách người dùng</h3>
          <div class="pull-right">
            <button type="submit" class="btn btn-info" routerLink="/user/edit/0">Tạo mới</button>
            <button type="submit" class="btn btn-success">Xuất file</button>
          </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
            <div class="row">
              <div class="col-sm-6">
                <div class="dataTables_length" id="example1_length">
                  <label>Show
                    <select name="example1_length" aria-controls="example1" class="form-control input-sm">
                      <option value="10">10</option>
                      <option value="25">25</option>
                      <option value="50">50</option>
                      <option value="100">100</option>
                    </select> entries</label>
                </div>
              </div>
              <div class="col-sm-6">
                <div id="example1_filter" class="dataTables_filter">
                  <label>Search:
                    <input type="search" class="form-control input-sm" placeholder="" aria-controls="example1">
                  </label>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                  <thead>
                    <tr role="row">
                      <th class="sorting_asc" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-sort="ascending" aria-label="#: activate to sort column descending"
                        style="width: 182px;">#</th>
                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Browser: activate to sort column ascending"
                        style="width: 224px;">Browser</th>
                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending"
                        style="width: 199px;">Email</th>
                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending"
                        style="width: 156px;">Điện thoại</th>
                      <th class="sorting" tabindex="0" aria-controls="example1" rowspan="1" colspan="1" aria-label="CSS grade: activate to sort column ascending"
                        style="width: 112px;">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr role="row" class="odd" *ngFor="let user of userList; let i = index">
                      <td>{{i}}</td>
                      <td>{{user.firstName}} {{user.lastName}}</td>
                      <td>{{user.email}}</td>
                      <td>{{user.phone}}</td>
                      <td>
                        <button type="submit" class="btn btn-xs btn-primary" routerLink="/user/edit/{{user.userId}}">Edit</button>
                        <button class="btn btn-xs btn-danger" (click)="selectedUser = user;OpenDeleteModal()">Delete</button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-5">
                <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Showing 1 to 10 of 57 entries</div>
              </div>
              <div class="col-sm-7">
                <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                  <ul class="pagination">
                    <li class="paginate_button previous disabled" id="example1_previous">
                      <a href="#" aria-controls="example1" data-dt-idx="0" tabindex="0">Previous</a>
                    </li>
                    <li class="paginate_button active">
                      <a href="#" aria-controls="example1" data-dt-idx="1" tabindex="0">1</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="2" tabindex="0">2</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="3" tabindex="0">3</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="4" tabindex="0">4</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="5" tabindex="0">5</a>
                    </li>
                    <li class="paginate_button ">
                      <a href="#" aria-controls="example1" data-dt-idx="6" tabindex="0">6</a>
                    </li>
                    <li class="paginate_button next" id="example1_next">
                      <a href="#" aria-controls="example1" data-dt-idx="7" tabindex="0">Next</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->
<div bsModal #deleteUserModal="bs-modal" class="modal fade in" tabindex="-1" role="dialog" id="deleteUserModal" aria-labelledby="deleteUser"
  aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Xóa người dùng</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="deleteUserModal.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div>Bạn có muốn xóa người dùng này không?</div>
      </div>
      <div class="modal-footer">
        <button class="btn default" (click)="deleteUserModal.hide();">Cancel</button>
        <button class="btn btn-success" (click)="deleteUser()">OK</button>
      </div>
    </div>
  </div>
</div>