<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        Quản lý người dùng
    </h1>
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <i class="fa fa-dashboard"></i> Quản lý người dùng</a>
        </li>
        <li class="active">Cập nhật thông tin người dùng</li>
    </ol>
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="box box-info login_custom">
            <div class="box-header with-border">
                <h3 class="box-title">Cập nhật thông tin người dùng: Cao Chuyen</h3>
                <div class="pull-right">
                    <button type="submit" class="btn btn-default" routerLink="/user">Trờ về</button>
                    <button type="submit" class="btn btn-info" (click)="Save()">Save</button>
                </div>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <form class="form-horizontal">
                <div class="box-body">
                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="firstName" class="col-sm-4 control-label">Họ</label>

                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="modelUser.firstName" required name="firstName" 
                                        #firstName="ngModel" class="form-control" id="firstName" placeholder="Nhập họ">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="lastName" class="col-sm-4 control-label">Chữ lót và tên</label>

                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="modelUser.lastName" required name="lastName" 
                                        #lastName="ngModel" class="form-control" id="lastName" placeholder="Nhập chữ lót và tên">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="email" class="col-sm-4 control-label">Email</label>

                                    <div class="col-sm-8">
                                        <input type="email" [(ngModel)]="modelUser.email" required name="email" 
                                        #email="ngModel" class="form-control" id="email" placeholder="Nhập email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="col-sm-4 control-label">Mật khẩu</label>

                                    <div class="col-sm-8">
                                        <input type="password" [(ngModel)]="modelUser.password" required name="password" 
                                        #password="ngModel" class="form-control" id="password" placeholder="Nhập mật khẩu">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="location" class="col-sm-4 control-label">Vị trí</label>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="modelUser.location" required name="location" 
                                        #location="ngModel" class="form-control" id="location" placeholder="Nhập vị trí">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="facebookId" class="col-sm-4 control-label">facebookId</label>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="modelUser.facebookId" required name="facebookId" 
                                        #facebookId="ngModel" class="form-control" id="facebookId" placeholder="Nhập facebookId">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="pictureUrl" class="col-sm-4 control-label">Image</label>
                                    <div class="col-sm-8">
                                        <input type="text" [(ngModel)]="modelUser.pictureUrl" required name="pictureUrl" 
                                        #pictureUrl="ngModel"  class="form-control" id="pictureUrl" placeholder="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.box-body -->
                <!-- <div class="box-footer">
                    <div class="pull-right">
                            <button type="submit" class="btn btn-default">Cancel</button>
                            <button type="submit" class="btn btn-info">Save</button>
                    </div>
                </div> -->
                <!-- /.box-footer -->
            </form>
        </div>
    </div>
    <!-- /.row -->
</section>
<!-- /.content -->