﻿<div class="breadcrumbs-container">
    <div class="avatar-wrapper">
        <img src="~/Content/img/icons/avatar.jpg" />
        <div class="change-avatar-button">
            <i class="material-icons">camera_enhance</i>
            <span>Thay đổi ảnh đại diện</span>
        </div>
    </div>
    <ul class="breadcrumbs">
        <li class="active"><a href="/Home/UserPrivate">Nhật ký</a></li>
        <li class="separator"></li>
        <li class=""><a href="/Home/Blank">Giới thiệu</a></li>
        <li class="separator"></li>
        <li class=""><a href="/Home/UserFriends">Bạn bè</a></li>
        <li class="separator"></li>
        <li class=""><a href="/Home/Blank">Ảnh</a></li>
    </ul>
    <div class="float-right-buttons has-button">
        <div class="dropdown" style="margin-right: 10px;">
            <span class="label bg-none"><i class="material-icons">settings</i></span>
            <div class="content content-180">
                <ul class="dropdown-btns">
                    <li><a href="#">Cài đặt</a></li>
                    <li class="separator"></li>
                    <li><a href="#">Các thiết lập</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>