﻿<div class="breadcrumbs-container">
    <div class="container">
        <ul class="breadcrumbs big">
            <li class='@(Request.RawUrl=="/"?"active":"")'><a href="/">TRANG CHỦ</a></li>
            <li class="separator"></li>
            <li class="@((Request.RawUrl=="/Home/GuestHome"||Request.RawUrl=="/Home/GuestCategories")?"active":"")"><a href="/Home/GuestHome">MUA SẮM</a></li>
        </ul>
    </div>
</div>