﻿<ul class="categories-verticle">
    <li class="has-sub">
        <span class="icon"><i class="zozo-phone"></i></span>
        <a href="/Home/GuestCategories">Điện thoại - Máy tính</a>
        <ul class="sub">
            <li class="has-sub">
                <a href="/Home/GuestCategories">emesne is in prepare</a>
                <ul class="sub">
                    <li><a href="/Home/Blank">Feet evil to hold long</a></li>
                    <li><a href="/Home/Blank">he open knew an no</a></li>
                    <li><a href="/Home/Blank">Apartments occasional Apartments</a></li>
                    <li><a href="/Home/Blank">Yet bed any for travelling</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="/Home/GuestCategories">Or fifteen covered we enjoyed</a>
                <ul class="sub">
                    <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
                    <li><a href="/Home/Blank">In stimulated my everything</a></li>
                    <li><a href="/Home/Blank">it literature</a></li>
                    <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
                </ul>
            </li>
            <li class="has-sub">
                <a href="/Home/GuestCategories">Greatly explain attempt</a>
                <ul class="sub">
                    <li><a href="/Home/Blank">perhaps in feeling he</a></li>
                    <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
                    <li><a href="/Home/Blank">House men taste bed not</a></li>
                    <li><a href="/Home/Blank">Yet bed any for travelling</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="has-sub">
        <span class="icon"><i class="zozo-dress"></i></span>
        <a href="/Home/GuestCategories">Thời trang nữ</a>
        <div class="mega-sub">
            <ul>
                <li><a href="/Home/Blank">perhaps in feeling he</a></li>
                <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
                <li><a href="/Home/Blank">House men taste bed not</a></li>
                <li><a href="/Home/Blank">Yet bed any for travelling</a></li>
            </ul>
            <ul>
                <li><a href="/Home/Blank">perhaps in feeling he</a></li>
                <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
                <li><a href="/Home/Blank">House men taste bed not</a></li>
                <li><a href="/Home/Blank">Yet bed any for travelling</a></li>
                <li><a href="/Home/Blank">perhaps in feeling he</a></li>
                <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
                <li><a href="/Home/Blank">House men taste bed not</a></li>
                <li><a href="/Home/Blank">Yet bed any for travelling</a></li>
            </ul>
            <ul>
                <li><a href="/Home/Blank">perhaps in feeling he</a></li>
                <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
                <li><a href="/Home/Blank">House men taste bed not</a></li>
                <li><a href="/Home/Blank">Yet bed any for travelling</a></li>
                <li><a href="/Home/Blank">perhaps in feeling he</a></li>
                <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
            </ul>
            <ul>
                <li><a href="/Home/Blank">House men taste bed not</a></li>
                <li><a href="/Home/Blank">Yet bed any for travelling</a></li>
                <li><a href="/Home/Blank">perhaps in feeling he</a></li>
                <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
                <li><a href="/Home/Blank">House men taste bed not</a></li>
                <li><a href="/Home/Blank">Yet bed any for travelling</a></li>
            </ul>
            <ul>
                <li><a href="/Home/Blank">perhaps in feeling he</a></li>
                <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
                <li><a href="/Home/Blank">House men taste bed not</a></li>
                <li><a href="/Home/Blank">Yet bed any for travelling</a></li>
                <li><a href="/Home/Blank">perhaps in feeling he</a></li>
                <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
                <li><a href="/Home/Blank">House men taste bed not</a></li>
                <li><a href="/Home/Blank">Yet bed any for travelling</a></li>
            </ul>
            <ul>
                <li><a href="/Home/Blank">perhaps in feeling he</a></li>
                <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
                <li><a href="/Home/Blank">House men taste bed not</a></li>
                <li><a href="/Home/Blank">Yet bed any for travelling</a></li>
                <li><a href="/Home/Blank">perhaps in feeling he</a></li>
                <li><a href="/Home/Blank">Điện thoại - Máy tính</a></li>
                <li><a href="/Home/Blank">House men taste bed not</a></li>
                <li><a href="/Home/Blank">Yet bed any for travelling</a></li>
            </ul>
        </div>
    </li>
    <li class="has-sub">
        <span class="icon"><i class="zozo-trousers"></i></span><a href="/Home/GuestCategories">Thời trang nam</a>
    </li>
    <li class="has-sub">
        <span class="icon"><i class="zozo-high-heel"></i></span><a href="/Home/GuestCategories">Giày dép - Túi xách</a>
    </li>
    <li class="has-sub">
        <span class="icon"><i class="zozo-camera"></i></span><a href="/Home/GuestCategories">Phụ kiện số - Camera</a>
    </li>
    <li class="has-sub">
        <span class="icon"><i class="zozo-baby-troller"></i></span><a href="/Home/GuestCategories">Mẹ bé - Đồ chơi</a>
    </li>
    <li class="has-sub">
        <span class="icon"><i class="zozo-watch"></i></span><a href="/Home/GuestCategories">Đồng hồ - Phụ kiện</a>
    </li>
    <li class="has-sub">
        <span class="icon"><i class="zozo-home"></i></span><a href="/Home/GuestCategories">Nhà cửa - Tân trang nhà</a>
    </li>
    <li class="has-sub">
        <span class="icon"><i class="zozo-lips"></i></span><a href="/Home/GuestCategories">Sức khoẻ - Sắc đẹp</a>
    </li>
    <li class="has-sub">
        <span class="icon"><i class="zozo-monitor"></i></span><a href="/Home/GuestCategories">Tivi - Thiết bị âm thanh</a>
    </li>
    <li class="has-sub">
        <span class="icon"><i class="zozo-car"></i></span><a href="/Home/GuestCategories">Ô tô - Xe máy - Thể thao</a>
    </li>
</ul>