﻿<footer>
    <div class="container">
        <div class="footer-cols">
            <div class="col">
                <div class="col-title">VỀ CHÚNG TÔI</div>
                <ul class="col-list">
                    <li><a href="#">Giới thiệu</a></li>
                    <li><a href="#">Quy chế hoạt động</a></li>
                    <li><a href="#">Tuyển dụng</a></li>
                    <li><a href="#">Quyền riêng tư</a></li>
                    <li><a href="#">Trợ giúp</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="col-title">DÀNH CHO NGƯỜI MUA</div>
                <ul class="col-list">
                    <li><a href="#">Giải quyết khiếu nại</a></li>
                    <li><a href="#">Chăm sóc khách hàng</a></li>
                    <li><a href="#">Chính sách đổi trả</a></li>
                    <li><a href="#">Hướng dẫn mua hàng</a></li>
                    <li><a href="#">Hướng dẫn kiếm tiền</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="col-title">DÀNH CHO NGƯỜI BÁN</div>
                <ul class="col-list">
                    <li><a href="#">Quy định đối với người bán</a></li>
                    <li><a href="#">Chính sách bán hàng</a></li>
                    <li><a href="#">Hệ thống tiêu chí kiểm duyệt</a></li>
                </ul>
            </div>
            <div class="col">
                <div class="col-title">TẢI APP</div>
                <div class="download-app">
                    <a href="#"><img src="~/Content/img/appstore.png" /></a>
                    <a href="#"><img src="~/Content/img/googleplay.png" /></a>
                </div>
            </div>
            <div class="col">
                @*<div class="col-title">KẾT NỐI VỚI CHÚNG TÔI</div>
                <div class="soccial-icons">
                    <a href="#"><img src="~/Content/img/soccial/facebook.png" /></a>
                    <a href="#"><img src="~/Content/img/soccial/google-plus.png" /></a>
                    <a href="#"><img src="~/Content/img/soccial/zalo.png" /></a>
                </div>*@
                <img width="126" class="margin-top-20" src="~/Content/img/soccial/dadangky.png" />
            </div>
        </div>
        <div class="copyright">
            <div class="margin-top-20 txt-bold">&copy; @System.DateTime.Now.Year Công ty CP ZOZO</div>
            <div class="margin-top-10">Số ĐKKD: 059430958 Sở Kế hoạch và Đầu tư TP.HCM cấp ngày 30/5/2017</div>
        </div>
    </div>
</footer>