﻿<div class="friend-list-verticle" id="friend-list-verticle">
    <div id="friend-list-verticle-scroll-wrapper">
        <div class="friend-suggestion" data-simplebar>
            <h6>Gợi ý kết bạn</h6>
            <div class="friend-request">
                <img src="~/Content/img/icons/avatar2.jpg" /><span><a href="#">Niaomei Yaky</a><small><a href="#">TP. Hồ Chí Minh</a></small></span>
                <button type="button" class="btn btn-bordered-primary btn-tiny">Kết bạn</button>
            </div>
            <div class="friend-request">
                <img src="~/Content/img/icons/avatar3.jpg" /><span><a href="#">Savanna Pena</a><small><a href="#">Cần Thơ</a></small></span>
                <button type="button" class="btn btn-bordered-primary btn-tiny">Kết bạn</button>
            </div>
            <div class="friend-request">
                <img src="~/Content/img/icons/avatar4.jpg" /><span><a href="#">Kaya Lane</a><small><a href="#">Hà Nội</a></small></span>
                <button type="button" class="btn btn-bordered-primary btn-tiny">Kết bạn</button>
            </div>
            <div class="friend-request">
                <img src="~/Content/img/icons/avatar2.jpg" /><span><a href="#">Niaomei Yaky</a><small><a href="#">Vĩnh Long</a></small></span>
                <button type="button" class="btn btn-bordered-primary btn-tiny">Kết bạn</button>
            </div>
            <div class="friend-request">
                <img src="~/Content/img/icons/avatar3.jpg" /><span><a href="#">Savanna Pena</a><small><a href="#">TP. Hồ Chí Minh</a></small></span>
                <button type="button" class="btn btn-bordered-primary btn-tiny">Kết bạn</button>
            </div>
            <div class="friend-request">
                <img src="~/Content/img/icons/avatar4.jpg" /><span><a href="#">Kaya Lane</a><small><a href="#">TP. Buôn Mê Thuộc</a></small></span>
                <button type="button" class="btn btn-bordered-primary btn-tiny">Kết bạn</button>
            </div>
        </div>
        <div class="friend-suggestion" data-simplebar>
            <h6>Bạn bè</h6>
            <div class="friend-request">
                <img src="~/Content/img/icons/avatar2.jpg" /><span><a href="#">Niaomei Yaky</a><small><a href="#">Vĩnh Long</a></small></span>
                <span class="friend-status color-green"></span>
            </div>
            <div class="friend-request">
                <img src="~/Content/img/icons/avatar3.jpg" /><span><a href="#">Savanna Pena</a><small><a href="#">Cần Thơ</a></small></span>
                <span class="friend-status color-green"></span>
            </div>
            <div class="friend-request">
                <img src="~/Content/img/icons/avatar4.jpg" /><span><a href="#">Kaya Lane</a><small><a href="#">Hà Nội</a></small></span>
                <span class="friend-status color-green"></span>
            </div>
            <div class="friend-request">
                <img src="~/Content/img/icons/avatar2.jpg" /><span><a href="#">Niaomei Yaky</a><small><a href="#">Vĩnh Long</a></small></span>
                <span class="friend-status color-yellow"></span>
            </div>
            <div class="friend-request">
                <img src="~/Content/img/icons/avatar3.jpg" /><span><a href="#">Savanna Pena</a><small><a href="#">TP. Hồ Chí Minh</a></small></span>
                <span class="friend-status color-yellow"></span>
            </div>
            <div class="friend-request">
                <img src="~/Content/img/icons/avatar4.jpg" /><span><a href="#">Kaya Lane</a><small><a href="#">TP. Buôn Mê Thuộc</a></small></span>
                <span class="friend-status color-grey"></span>
            </div>
        </div>
    </div>
    <div class="friend-quick-search">
        <form style="width: 180px;">
            <div class="control textbox bg-white">
                <input type="text" value="" name="friendQuickSearch" id="friendQuickSearch" />
                <label for="friendQuickSearch">Tìm kiếm bạn bè</label>
                <button type="submit"><i class="material-icons">search</i></button>
            </div>
        </form>
        <div class="dropdown dropup" id="friend-quick-search-setting" style="">
            <span class="label bg-none"><i class="material-icons">settings</i></span>
            <div class="content content-180">
                <ul class="dropdown-btns">
                    <li><a href="#">Cài đặt</a></li>
                    <li class="separator"></li>
                    <li><a href="#">Tạo tin nhắn</a></li>
                    <li><a href="#">Tạo nhóm trò chuyện</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
