﻿<div class="head guest">
    <div class="container">
        <div class="row">
            <div class="col-xs-2">
                <div class="logo">
                    <a href="/"><img src="~/Content/img/zozo.png" /></a>
                </div>
            </div>
            <div class="col-xs-4">
                @* Form tìm kiếm *@
                <form method="get" class="margin-top-20 margin-bottom-20">
                    <div class="control has-button textbox bg-white">
                        <input type="text" id="timKiem" name="timKiem" value="" />
                        <label for="timKiem">Tìm kiếm</label>
                        <button type="button" name="submit" onclick="window.location.href='/Home/SearchResultProducts'"><span class="material-icons">search</span></button>
                    </div>
                </form>
            </div>
            <div class="col-xs-6">
                <div class="row">
                    <div class="col-xs-11">
                        @* Form đăng nhập *@
                        <form method="get" action="/Home/UserHome" class="margin-top-20 margin-bottom-20">
                            <div class="row">
                                <div class="col-xs-5">
                                    <div class="control textbox bg-white">
                                        <input type="text" id="tenDangNhap" name="tenDangNhap" value="" />
                                        <label class="txt-small" for="tenDangNhap">Điện thoại, Email, Tên đăng nhập</label>
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="control textbox bg-white">
                                        <input type="password" id="matKhau" name="matKhau" value=""/>
                                        <label class="txt-small" for="matKhau">Mật khẩu</label>
                                        <div class="control-extension">
                                            <div class="extension-checkbox">
                                                <div class="checkbox">
                                                    <input type="checkbox" id="ghiNhoDangNhap" value="" name="ghiNhoDangNhap" />
                                                    <label class="material-icons unchecked" for="ghiNhoDangNhap">check_box_outline_blank</label>
                                                    <label class="material-icons checked" for="ghiNhoDangNhap">check_box</label>
                                                </div>
                                                <label for="ghiNhoDangNhap">Ghi nhớ đăng nhập</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="submit bg-none">
                                        <button class="bg-white txt-secondary txt-bold" type="submit" name="submit">ĐĂNG NHẬP</button>
                                        <div class="control-extension">
                                            <a href="#" class="txt-light-grey">Quên mật khẩu?</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-xs-1">
                        <div class="head-cart margin-top-20">
                            <div class="cart-icon">
                                <a href="#cart" rel="modal:open" class="material-icons">shopping_cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>