﻿<div class="head user">
    <div class="container">
        <div class="row">
            <div class="col-xs-1">
                <div class="logo">
                    <a href="/"><img src="~/Content/img/zozo.png" /></a>
                </div>
            </div>
            <div class="col-xs-5">
                <form method="get">
                    <div class="control has-button textbox bg-white">
                        <input type="text" id="timKiem" name="timKiem" value="" tabindex="1"/>
                        <label for="timKiem">Tìm kiếm</label>
                        <button type="submit" name="submit"><span class="material-icons">search</span></button>
                    </div>
                </form>
            </div>
            <div class="col-xs-3">
                <div class="user">
                    <a href="/Home/UserPrivate">
                        <img src="~/Content/img/icons/avatar.jpg" />
                        <span>Camella Yaniki</span>
                    </a>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="actions">
                    <div class="action dropdown has-notification">
                        <span class="icon label"><i class="zozo-man-and-woman-avatar"></i></span>
                        <div class="content">
                            <div class="content-head">
                                <a href="#" class="txt-small txt-bold">Lời mời kết bạn</a>
                                <span class="counter inline">98</span>
                                <span style="float: right;">
                                    <a href="#" class="txt-small">Tìm bạn bè</a> | <a href="#" class="txt-small">Cài đặt</a>
                                </span>
                            </div>
                            <div class="content-body split">
                                <div class="child" data-simplebar>
                                    <div class="friend-request">
                                        <img src="~/Content/img/icons/avatar2.jpg" /><span><a href="#">Niaomei Yaky</a><small><a href="#">98 bạn chung</a></small></span>
                                        <div class="friend-actions">
                                            <button class="btn btn-small btn-secondary">Chấp nhận</button><button class="btn btn-small btn-grey">Xóa yêu cầu</button>
                                        </div>
                                    </div>
                                    <div class="friend-request">
                                        <img src="~/Content/img/icons/avatar3.jpg" /><span><a href="#">Savanna Pena</a><small><a href="#">98 bạn chung</a></small></span>
                                        <div class="friend-actions">
                                            <button class="btn btn-small btn-secondary">Chấp nhận</button><button class="btn btn-small btn-grey">Xóa yêu cầu</button>
                                        </div>
                                    </div>
                                    <div class="friend-request">
                                        <img src="~/Content/img/icons/avatar4.jpg" /><span><a href="#">Kaya Lane</a><small><a href="#">98 bạn chung</a></small></span>
                                        <div class="friend-actions">
                                            <button class="btn btn-small btn-secondary">Chấp nhận</button><button class="btn btn-small btn-grey">Xóa yêu cầu</button>
                                        </div>
                                    </div>
                                    <div class="friend-request">
                                        <img src="~/Content/img/icons/avatar2.jpg" /><span><a href="#">Niaomei Yaky</a><small><a href="#">98 bạn chung</a></small></span>
                                        <div class="friend-actions">
                                            <button class="btn btn-small btn-secondary">Chấp nhận</button><button class="btn btn-small btn-grey">Xóa yêu cầu</button>
                                        </div>
                                    </div>
                                    <div class="friend-request">
                                        <img src="~/Content/img/icons/avatar3.jpg" /><span><a href="#">Savanna Pena</a><small><a href="#">98 bạn chung</a></small></span>
                                        <div class="friend-actions">
                                            <button class="btn btn-small btn-secondary">Chấp nhận</button><button class="btn btn-small btn-grey">Xóa yêu cầu</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="content-head">
                                    <a href="#" class="txt-small txt-bold">Có thể bạn quen biết</a>
                                </div>
                                <div class="child" data-simplebar>
                                    <div class="friend-request">
                                        <img src="~/Content/img/icons/avatar4.jpg" /><span><a href="#">Kaya Lane</a><small><a href="#">98 bạn chung</a></small></span>
                                        <div class="friend-actions">
                                            <button class="btn btn-small btn-secondary">Chấp nhận</button><button class="btn btn-small btn-grey">Xóa yêu cầu</button>
                                        </div>
                                    </div>
                                    <div class="friend-request">
                                        <img src="~/Content/img/icons/avatar2.jpg" /><span><a href="#">Niaomei Yaky</a><small><a href="#">98 bạn chung</a></small></span>
                                        <div class="friend-actions">
                                            <button class="btn btn-small btn-secondary">Chấp nhận</button><button class="btn btn-small btn-grey">Xóa yêu cầu</button>
                                        </div>
                                    </div>
                                    <div class="friend-request">
                                        <img src="~/Content/img/icons/avatar3.jpg" /><span><a href="#">Savanna Pena</a><small><a href="#">98 bạn chung</a></small></span>
                                        <div class="friend-actions">
                                            <button class="btn btn-small btn-secondary">Chấp nhận</button><button class="btn btn-small btn-grey">Xóa yêu cầu</button>
                                        </div>
                                    </div>
                                    <div class="friend-request">
                                        <img src="~/Content/img/icons/avatar4.jpg" /><span><a href="#">Kaya Lane</a><small><a href="#">98 bạn chung</a></small></span>
                                        <div class="friend-actions">
                                            <button class="btn btn-small btn-secondary">Chấp nhận</button><button class="btn btn-small btn-grey">Xóa yêu cầu</button>
                                        </div>
                                    </div>
                                    <div class="friend-request">
                                        <img src="~/Content/img/icons/avatar2.jpg" /><span><a href="#">Niaomei Yaky</a><small><a href="#">98 bạn chung</a></small></span>
                                        <div class="friend-actions">
                                            <button class="btn btn-small btn-secondary">Chấp nhận</button><button class="btn btn-small btn-grey">Xóa yêu cầu</button>
                                        </div>
                                    </div>
                                    <div class="friend-request">
                                        <img src="~/Content/img/icons/avatar3.jpg" /><span><a href="#">Savanna Pena</a><small><a href="#">98 bạn chung</a></small></span>
                                        <div class="friend-actions">
                                            <button class="btn btn-small btn-secondary">Chấp nhận</button><button class="btn btn-small btn-grey">Xóa yêu cầu</button>
                                        </div>
                                    </div>
                                    <div class="friend-request">
                                        <img src="~/Content/img/icons/avatar4.jpg" /><span><a href="#">Kaya Lane</a><small><a href="#">98 bạn chung</a></small></span>
                                        <div class="friend-actions">
                                            <button class="btn btn-small btn-secondary">Chấp nhận</button><button class="btn btn-small btn-grey">Xóa yêu cầu</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="content-foot txt-center">
                                <a href="#" class="txt-small txt-bold">Xem tất cả</a>
                            </div>
                        </div>
                    </div>
                    <div class="action dropdown has-notification">
                        <span class="icon label"><i class="zozo-chat"></i></span>
                        <div class="content">
                            <div class="content-head">
                                <a href="#" class="txt-small txt-bold">Cuộc hội thoại gần đây</a>
                                <span class="counter inline">98</span>
                                | <a href="#" class="txt-small txt-bold">Tin nhắn chờ</a>
                                <span style="float: right;">
                                    <a href="#" class="txt-small">Cài đặt</a>
                                </span>

                            </div>
                            <div class="content-body" data-simplebar>
                                <a href="" class="message">
                                    <img src="~/Content/img/icons/avatar2.jpg" />
                                    <!--
                    -->
                                    <div class="message-content"><span>Niaomei Yaky</span><small class="read"><i class="material-icons">check</i> Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten</small></div>
                                    <div class="status"><time>4 phút trước</time></div>
                                </a>
                                <a href="" class="message">
                                    <img src="~/Content/img/icons/avatar3.jpg" />
                                    <!--
                    -->
                                    <div class="message-content"><span>Niaomei Yaky</span><small class="">Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten</small></div>
                                    <div class="status"><time>4 phút trước</time></div>
                                </a>
                                <a href="" class="message">
                                    <img src="~/Content/img/icons/avatar4.jpg" />
                                    <!--
                    -->
                                    <div class="message-content"><span>Niaomei Yaky</span><small class="read"><i class="material-icons">check</i> Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten</small></div>
                                    <div class="status"><time>4 phút trước</time></div>
                                </a>
                            </div>
                            <div class="content-foot txt-center">
                                <a href="#" class="txt-small txt-bold">Xem tất cả</a>
                            </div>
                        </div>
                    </div>
                    <div class="action dropdown has-notification">
                        <span class="icon label"><i class="zozo-bell"></i></span>
                        <div class="content">
                            <div class="content-head">
                                <a href="#" class="txt-small txt-bold">Thông báo gần đây</a>
                                <span class="counter inline">98</span>
                                <span style="float: right;">
                                    <a href="#" class="txt-small">Đánh dấu đã đọc cho tất cả</a> | <a href="#" class="txt-small">Cài đặt</a>
                                </span>
                            </div>
                            <div class="content-body" data-simplebar>
                                <a href="" class="notification">
                                    <img src="~/Content/img/icons/avatar2.jpg" />
                                    <!--
                    -->
                                    <div class="notification-content">
                                        <span><i class="material-icons">check</i> Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten</span>
                                        <time><i class="time-icon zozo-add-user"></i>5 giờ trước</time>
                                    </div>
                                </a>
                                <a href="" class="notification">
                                    <img src="~/Content/img/icons/avatar2.jpg" />
                                    <!--
                    -->
                                    <div class="notification-content">
                                        <span><i class="material-icons">check</i> Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten</span>
                                        <time><i class="time-icon zozo-add-user"></i>5 giờ trước</time>
                                    </div>
                                </a>
                                <a href="" class="notification">
                                    <img src="~/Content/img/icons/avatar2.jpg" />
                                    <!--
                    -->
                                    <div class="notification-content">
                                        <span><i class="material-icons">check</i> Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten</span>
                                        <time><i class="time-icon zozo-add-user"></i>5 giờ trước</time>
                                    </div>
                                </a>
                                <a href="" class="notification">
                                    <img src="~/Content/img/icons/avatar2.jpg" />
                                    <!--
                    -->
                                    <div class="notification-content">
                                        <span><i class="material-icons">check</i> Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten</span>
                                        <time><i class="time-icon zozo-add-user"></i>5 giờ trước</time>
                                    </div>
                                </a>
                                <a href="" class="notification">
                                    <img src="~/Content/img/icons/avatar2.jpg" />
                                    <!--
                    -->
                                    <div class="notification-content">
                                        <span><i class="material-icons">check</i> Finished her are its honoured drawings nor. Pretty see mutual thrown all not edward ten</span>
                                        <time><i class="time-icon zozo-add-user"></i>5 giờ trước</time>
                                    </div>
                                </a>
                            </div>
                            <div class="content-foot txt-center">
                                <a href="#" class="txt-small txt-bold">Xem tất cả</a>
                            </div>
                        </div>
                    </div>
                    <div class="separator"></div>
                    <div class="action dropdown">
                        <span class="icon label"><i class="zozo-question-mark-circle"></i></span>
                        <div class="content">
                            <div class="content-head">
                                <a href="#" class="txt-small txt-bold">Trợ giúp nhanh</a>
                                <span style="float: right;">
                                    <a href="#" class="txt-small">Trung tâm trợ giúp</a>
                                </span>
                            </div>
                            <div class="faqWrapper" data-simplebar>
                                <form>
                                    <div class="control textbox bordered">
                                        <input type="text" name="faqSearch" id="faqSearch" value="" />
                                        <label for="faqSearch" class="txt-small">Bạn thắc mắc điều gì?</label>
                                        <button type="submit" name="submit"><i class="material-icons">search</i></button>
                                    </div>
                                </form>
                                <div class="faq-block">
                                    <div class="question"><a href="">Tại sao tôi nên tạo tài khoản trên zozo?</a></div>
                                    <div class="question"><a href="">Làm thế nào để kiếm tiền trên zozo?</a></div>
                                </div>
                                <div class="faq-block">
                                    <div class="question"><a href="">Quyền riêng tư</a></div>
                                    <div class="question"><a href="">Tin nhắn hỗ trợ</a></div>
                                </div>
                            </div>
                            <div class="content-foot txt-center">
                                <a href="/Home/Blank" class="txt-small txt-bold">Xem thêm về câu hỏi của bạn</a>
                            </div>
                        </div>
                    </div>
                    <div class="action dropdown">
                        <span class="icon label"><i class="zozo-triangle-down"></i></span>
                        <div class="content small">
                            <div class="content-head">
                                <a href="/Home/Blank" class="txt-small txt-bold">Nội dung của bạn</a>
                            </div>
                            <div class="personal-actions">
                                <div class="group">
                                    <div class="group-head">Gian hàng của bạn</div>
                                    <a href="/Home/PagePrivate" class="group-item">
                                        <img src="~/Content/img/icons/avatar2.jpg" />
                                        <div><span class="right"><small>1 tin nhắn</small></span><span class="left">Group of people in a formation Group of people in a formation</span></div>
                                    </a>
                                    <a href="/Home/PagePrivate" class="group-item">
                                        <img src="~/Content/img/icons/avatar3.jpg" />
                                        <div><span class="right"><small>1 đơn hàng</small></span><span class="left">Group of people in a formation Group of people in a formation</span></div>
                                    </a>
                                </div>
                                <div class="group">
                                    <a href="/Home/Blank" class="group-item">
                                        <div><span class="left">Tạo Gian hàng mới</span></div>
                                    </a>
                                    <a href="/Home/Blank" class="group-item">
                                        <div><span class="right"><small>2 Gian hàng</small></span><span class="left">Quản lý Gian hàng</span></div>
                                    </a>
                                </div>
                                @*<div class="group">
                                    <a href="#" class="group-item">
                                        <div><span class="left">Tạo nhóm mới</span></div>
                                    </a>
                                    <a href="#" class="group-item">
                                        <div><span class="right"><small>2 nhóm</small></span><span class="left">Quản lý nhóm</span></div>
                                    </a>
                                    <a href="#" class="group-item">
                                        <div><span class="right"><small>5 lời mời</small></span><span class="left">Lời mời gia nhập nhóm</span></div>
                                    </a>
                                </div>*@
                                <div class="group">
                                    <a href="/Home/Blank" class="group-item">
                                        <div><span class="left">Tạo quảng cáo trên Zozo</span></div>
                                    </a>
                                    <a href="/Home/Blank" class="group-item">
                                        <div><span class="right"><small>223 quảng cáo</small></span><span class="left">Quản lý quảng cáo</span></div>
                                    </a>
                                </div>
                                <div class="group">
                                    <a href="/Home/Blank" class="group-item">
                                        <div><span class="left">Nhật ký hoạt động</span></div>
                                    </a>
                                    <a href="/Home/Blank" class="group-item">
                                        <div><span class="left">Cài đặt</span></div>
                                    </a>
                                </div>
                            </div>
                            <div class="content-foot txt-center">
                                <a href="/Home/Blank" class="txt-small">Đăng xuất</a> | <a href="#" class="txt-small">Đổi mật khẩu</a>
                            </div>
                        </div>
                    </div>
                    <div class="action">
                        <a href="#cart" rel="modal:open" class="icon big"><i class="material-icons ">shopping_cart</i></a>
                    </div>
                    @*<div class="action dropdown">
                        <span class="icon label big"><i class="zozo-shopping-basket"></i></span>
                        <div class="content">
                            <div class="content-head">
                                <a href="#" class="txt-small txt-bold">Giỏ hàng của tôi</a>  <span class="counter inline">7</span>
                            </div>
                            <div class="quick-cart" data-simplebar>
                                <div class="cart-item">
                                    <div class="cart-item-image four-three"><img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" /></div>
                                    <div class="cart-item-details">
                                        <div class="item-name">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</div>
                                        <div class="item-price">
                                            <div class="quantity">
                                                <div class="numeric-up-down">
                                                    <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                                                </div>
                                            </div>
                                            <span class="multiply-sign">x</span>
                                            <span class="price">120.000đ</span>
                                            <span class="equal-sign">=</span>
                                            <span class="subtotal">980.000đ</span>
                                        </div>
                                    </div>
                                    <div class="cart-item-remove"><span class="zozo-cross-remove-sign"></span></div>
                                </div>
                                <div class="cart-item">
                                    <div class="cart-item-image four-three"><img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" /></div>
                                    <div class="cart-item-details">
                                        <div class="item-name">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</div>
                                        <div class="item-price">
                                            <div class="quantity">
                                                <div class="numeric-up-down">
                                                    <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                                                </div>
                                            </div>
                                            <span class="multiply-sign">x</span>
                                            <span class="price">20.000đ</span>
                                            <span class="equal-sign">=</span>
                                            <span class="subtotal">80.000đ</span>
                                        </div>
                                    </div>
                                    <div class="cart-item-remove"><span class="zozo-cross-remove-sign"></span></div>
                                </div>
                                <div class="cart-item">
                                    <div class="cart-item-image four-three"><img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" /></div>
                                    <div class="cart-item-details">
                                        <div class="item-name">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</div>
                                        <div class="item-price">
                                            <div class="quantity">
                                                <div class="numeric-up-down">
                                                    <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                                                </div>
                                            </div>
                                            <span class="multiply-sign">x</span>
                                            <span class="price">1.000đ</span>
                                            <span class="equal-sign">=</span>
                                            <span class="subtotal">9.000đ</span>
                                        </div>
                                    </div>
                                    <div class="cart-item-remove"><span class="zozo-cross-remove-sign"></span></div>
                                </div>
                                <div class="cart-item">
                                    <div class="cart-item-image four-three"><img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" /></div>
                                    <div class="cart-item-details">
                                        <div class="item-name">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</div>
                                        <div class="item-price">
                                            <div class="quantity">
                                                <div class="numeric-up-down">
                                                    <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                                                </div>
                                            </div>
                                            <span class="multiply-sign">x</span>
                                            <span class="price">120.000đ</span>
                                            <span class="equal-sign">=</span>
                                            <span class="subtotal">980.000đ</span>
                                        </div>
                                    </div>
                                    <div class="cart-item-remove"><span class="zozo-cross-remove-sign"></span></div>
                                </div>
                                <div class="cart-item">
                                    <div class="cart-item-image four-three"><img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" /></div>
                                    <div class="cart-item-details">
                                        <div class="item-name">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</div>
                                        <div class="item-price">
                                            <div class="quantity">
                                                <div class="numeric-up-down">
                                                    <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                                                </div>
                                            </div>
                                            <span class="multiply-sign">x</span>
                                            <span class="price">20.000đ</span>
                                            <span class="equal-sign">=</span>
                                            <span class="subtotal">80.000đ</span>
                                        </div>
                                    </div>
                                    <div class="cart-item-remove"><span class="zozo-cross-remove-sign"></span></div>
                                </div>
                                <div class="cart-item">
                                    <div class="cart-item-image four-three"><img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" /></div>
                                    <div class="cart-item-details">
                                        <div class="item-name">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</div>
                                        <div class="item-price">
                                            <div class="quantity">
                                                <div class="numeric-up-down">
                                                    <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                                                </div>
                                            </div>
                                            <span class="multiply-sign">x</span>
                                            <span class="price">1.000đ</span>
                                            <span class="equal-sign">=</span>
                                            <span class="subtotal">9.000đ</span>
                                        </div>
                                    </div>
                                    <div class="cart-item-remove"><span class="zozo-cross-remove-sign"></span></div>
                                </div>
                                <div class="cart-item">
                                    <div class="cart-item-image four-three"><img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" /></div>
                                    <div class="cart-item-details">
                                        <div class="item-name">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</div>
                                        <div class="item-price">
                                            <div class="quantity">
                                                <div class="numeric-up-down">
                                                    <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                                                </div>
                                            </div>
                                            <span class="multiply-sign">x</span>
                                            <span class="price">120.000đ</span>
                                            <span class="equal-sign">=</span>
                                            <span class="subtotal">980.000đ</span>
                                        </div>
                                    </div>
                                    <div class="cart-item-remove"><span class="zozo-cross-remove-sign"></span></div>
                                </div>
                                <div class="cart-item">
                                    <div class="cart-item-image four-three"><img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" /></div>
                                    <div class="cart-item-details">
                                        <div class="item-name">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</div>
                                        <div class="item-price">
                                            <div class="quantity">
                                                <div class="numeric-up-down">
                                                    <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                                                </div>
                                            </div>
                                            <span class="multiply-sign">x</span>
                                            <span class="price">20.000đ</span>
                                            <span class="equal-sign">=</span>
                                            <span class="subtotal">80.000đ</span>
                                        </div>
                                    </div>
                                    <div class="cart-item-remove"><span class="zozo-cross-remove-sign"></span></div>
                                </div>
                                <div class="cart-item">
                                    <div class="cart-item-image four-three"><img src="~/Content/img/stocks/pexels-photo-336372_thumb.jpg" /></div>
                                    <div class="cart-item-details">
                                        <div class="item-name">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices</div>
                                        <div class="item-price">
                                            <div class="quantity">
                                                <div class="numeric-up-down">
                                                    <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                                                </div>
                                            </div>
                                            <span class="multiply-sign">x</span>
                                            <span class="price">1.000đ</span>
                                            <span class="equal-sign">=</span>
                                            <span class="subtotal">9.000đ</span>
                                        </div>
                                    </div>
                                    <div class="cart-item-remove"><span class="zozo-cross-remove-sign"></span></div>
                                </div>
                                
                            </div>
                            <div class="content-foot txt-center">
                                <div class="quick-cart">
                                    <div class="cart-total">
                                        <span class="left">TỔNG CỘNG:</span>
                                        <span class="right">98.980.000đ</span>
                                    </div>
                                </div>
                                
                                <a href="#" class="txt-bold">Tiến hành thanh toán</a>
                            </div>
                        </div>
                    </div>*@
                </div>
            </div>
        </div>
    </div>
</div>