﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/packages/material-icon/material-icons.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("_ViewSwitcher")
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p><i class="material-icons">account_balance</i>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>
