﻿<!DOCTYPE html>
<html ng-app="myapp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - ZOZO</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&amp;subset=latin-ext,vietnamese" rel="stylesheet">
    <link href="~/Content/packages/material-icon/material-icons.css" rel="stylesheet" />
    <link href="~/Content/packages/zozoicon/css/zozo.css" rel="stylesheet" />
    <link href="~/Content/css/flexboxgrid.min.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-3.3.1.min.js"></script>
    <!--LIB ANGULAR-->
    <script src="~/Scripts/libs/angular/angular.js"></script>
    <script src="~/Scripts/libs/session_storage/ngStorage.min.js"></script>
    <link href="~/Scripts/libs/jquery_confirm/jquery-confirm.min.css" rel="stylesheet" />
    <script src="~/Scripts/libs/jquery_confirm/jquery-confirm.min.js"></script>
    <link href="~/Scripts/libs/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/Scripts/libs/toastr/toastr.min.js"></script>

    <script src="~/Scripts/controllers/app.ctrl.js"></script>
    <script src="~/Scripts/services/message.serv.js"></script>
    <script src="~/Scripts/services/format.serv.js"></script>
    <script src="~/Scripts/services/api.serv.js"></script>
    <script src="~/Scripts/services/auth.serv.js"></script>
    <!--END ANGULAR-->

    <script src="~/Content/js/jquery-migrate-1.4.1.min.js"></script>
    <script src="~/Content/js/jquery-migrate-3.0.0.min.js"></script>
    <script src="~/Content/js/InputSpinner.js"></script>
    <script src="~/Content/js/draggabilly.pkgd.min.js"></script>
    @* sumoselect dùng cho form *@
    <script src="~/Content/packages/sumoselect/jquery.sumoselect.min.js"></script>
    <link href="~/Content/packages/sumoselect/sumoselect.min.css" rel="stylesheet" />
    @* Slick Cuộn sản phẩm *@
    <script src="~/Content/packages/slick/slick.min.js"></script>
    <link href="~/Content/packages/slick/slick.css" rel="stylesheet" />
    <link href="~/Content/packages/slick/slick-theme.css" rel="stylesheet" />
    @* Simple bar ALL *@
    <script src="~/Content/packages/simplebar/simplebar.js"></script>
    <link href="~/Content/packages/simplebar/simplebar.css" rel="stylesheet" />
    @* Jquery sticky (làm cho các thanh menu trượt bên trong container ALL*@
    <script src="~/Content/js/jquery.sticky-kit.min.js"></script>
    @* tabby [Trang nào có form đăng trạng thái mới]*@
    <link href="~/Content/packages/tabby/css/tabby.min.css" rel="stylesheet" />
    <script src="~/Content/packages/tabby/js/tabby.min.js"></script>
    @* ScrollMagic ALL*@
    <script src="~/Content/packages/scrollMagic/ScrollMagic.min.js"></script>
    <script src="~/Content/packages/scrollMagic/plugins/jquery.ScrollMagic.min.js"></script>
    @* Easyzoom để zoom ảnh trong chi tiết sản phẩm *@
    <link href="~/Content/css/easyzoom.css" rel="stylesheet" />
    <script src="~/Content/js/easyzoom.js"></script>
    @* Jquery Modal ALL *@
    <script src="~/Content/packages/jquery-modal/jquery.modal.min.js"></script>
    <link href="~/Content/packages/jquery-modal/jquery.modal.min.css" rel="stylesheet" />
    @* Override default plugins styles ALL *@
    <link href="~/Content/css/main.css" rel="stylesheet" />
    <script src="~/Content/js/main.js"></script>
</head>
<body>
    @*@Html.Partial("_ViewSwitcher")*@
    @RenderBody()
    @Html.Partial("_ViewSwitcher")
    @Html.Partial("_Modal")
</body>
</html>
