﻿@{
    Layout = null;
}

<div class="modal" id="cart">
    <div class="modal-head">
        <i class="material-icons">shopping_cart</i>Giỏ hàng
    </div>
    <div class="cart_group">
        <div class="cart_seller">
            <span>Từ</span>
            <img src="~/Content/img/icons/avatar2.jpg" />
            <a href="#">Tên người bán 1</a>
        </div>
        <table class="cart_items">
            <tr>
                <th colspan="2">&nbsp;</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                </td>
                <td>
                    <span>Tên sản phẩm</span>
                    <dl class="option-choosing">
                        <dt>Màu sắc</dt>
                        <dd>
                            <ul class="color-options">
                                <li><input type="radio" name="color" id="color1" value="1" checked /><label for="color1" style="background-color:#FF9696;"><span>Hồng trẻ trung</span></label></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="option-choosing">
                        <dt>Kích thước</dt>
                        <dd>
                            <ul class="text-options">
                                <li><input type="radio" name="size" id="size1" value="1" checked /><label for="size1">Nhỏ</label></li>
                            </ul>
                        </dd>
                    </dl>
                </td>
                <td>
                    98.000đ
                </td>
                <td>
                    <div class="numeric-up-down">
                        <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                    </div>
                </td>
                <td><span>98.000đ</span><button type="button" class="icon-button"><i class="material-icons">delete_forever</i></button></td>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                </td>
                <td>
                    <span>Tên sản phẩm</span>
                </td>
                <td>
                    98.000đ
                </td>
                <td>
                    <div class="numeric-up-down">
                        <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                    </div>
                </td>
                <td><span>98.000đ</span><button type="button" class="icon-button"><i class="material-icons">delete_forever</i></button></td>
            </tr>
        </table>
        <div class="cart-total">
            <span>98.000đ</span><button type="button" class="btn btn-secondary" onclick="window.location.href='/Home/Checkout'">ĐẶT HÀNG</button>
        </div>
    </div>
    <div class="cart_group">
        <div class="cart_seller">
            <span>Từ</span>
            <img src="~/Content/img/icons/avatar2.jpg" />
            <a href="#">Tên người bán 2</a>
        </div>
        <table class="cart_items">
            <tr>
                <th colspan="2">&nbsp;</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Thành tiền</th>
            </tr>
            <tr>
                <td>
                    <img src="~/Content/img/stocks/pexels-photo-279480_thumb.jpg" />
                </td>
                <td>
                    <span>Tên sản phẩm</span>
                    <dl class="option-choosing">
                        <dt>Màu sắc</dt>
                        <dd>
                            <ul class="color-options">
                                <li><input type="radio" name="color11" id="color11" value="1" checked /><label for="color11" style="background-color:#FF9696;"><span>Hồng trẻ trung</span></label></li>
                            </ul>
                        </dd>
                    </dl>
                    <dl class="option-choosing">
                        <dt>Kích thước</dt>
                        <dd>
                            <ul class="text-options">
                                <li><input type="radio" name="size11" id="size11" value="1" checked /><label for="size11">Nhỏ</label></li>
                            </ul>
                        </dd>
                    </dl>
                </td>
                <td>
                    98.000đ
                </td>
                <td>
                    <div class="numeric-up-down">
                        <input type="number" name="quantity-product-id-1" id="quantity-product-id-1" value="2" step="1" min="1" max="9" />
                    </div>
                </td>
                <td><span>98.000đ</span><button type="button" class="icon-button"><i class="material-icons">delete_forever</i></button></td>
            </tr>
        </table>
        <div class="cart-total">
            <span>98.000đ</span><button type="button" class="btn btn-secondary" onclick="window.location.href='/Home/Checkout'">ĐẶT HÀNG</button>
        </div>
    </div>
</div>