﻿<ul class="categories-verticle">
    <li class="special">
        <span class="icon">
            <img src="~/Content/img/icons/avatar.jpg" />
        </span>
        <a href="/Home/Blank">Camella Yaniki<br /><small>Thay đổi thông tin cá nhân</small></a>
    </li>
    <li class="active">
        <span class="icon"><i class="zozo-home-button"></i></span>
        <a href="/">Trang chủ</a>
    </li>
    <li>
        <span class="icon"><i class="zozo-shopping-basket"></i></span><a href="/Home/UserBuying">Mua sắm </a>
    </li>
    <li>
        <span class="icon"><i class="zozo-dollar-symbol"></i></span><a href="/Home/UserEarning">Kiếm tiền</a>
    </li>
    <li>
        <span class="icon"><i class="zozo-cookie"></i></span><a href="/Home/UserShops">Gian hàng của bạn</a>
    </li>
    <li>
        <span class="icon"><i class="zozo-invoice"></i></span><a href="/Home/Blank">Đơn hàng</a>
    </li>
    <li>
        <span class="icon"><i class="zozo-profit-report"></i></span><a href="/Home/Blank">Quản lý tài chính</a>
    </li>
    <li>
        <span class="icon"><i class="zozo-megaphone"></i></span><a href="/Home/Blank">Quảng cáo</a>
    </li>
    <li>
        <span class="icon"><i class="zozo-bookmark"></i></span><a href="/Home/Blank">Bạn đã theo dõi</a>
    </li>
    <li>
        <span class="icon"><i class="zozo-check-list"></i></span><a href="/Home/Blank">Báo cáo</a>
    </li>
    <li>
        <span class="icon"><i class="zozo-question-mark"></i></span><a href="/Home/Blank">Hướng dẫn mua hàng</a>
    </li>
    <li>
        <span class="icon"><i class="zozo-give-money"></i></span><a href="/Home/Blank">Hướng dẫn kiếm tiền</a>
    </li>
</ul>