﻿<div class="view-switcher">
    @if (ViewContext.HttpContext.GetOverriddenBrowser().IsMobileDevice)
    {
        @Html.ActionLink("Xem trang ở chế độ Desktop", "SwitchView", "ViewSwitcher", new { mobile = false, returnUrl = Request.Url.PathAndQuery }, new { rel = "external" })
    } 
    else 
    {
        @: Displaying desktop view
        @Html.ActionLink("Xem trang ở chế độ di động", "SwitchView", "ViewSwitcher", new { mobile = true, returnUrl = Request.Url.PathAndQuery }, new { rel = "external" })
    }
</div>
<div class="margin-top-20 margin-bottom-20">
    <a href="/">[1] Guest Login</a>
    | <a href="/Home/GuestHome">[2] Guest Home</a>
    | <a href="/Home/UserHome">[4] User Home</a>
    | <a href="/Home/UserPrivate">[5] User Private Page</a>
    | <a href="/Home/UserFriends">[6] User Friends</a>
    | <a href="/Home/UserGuestView">[7] User Guest View</a>
    | <a href="/Home/UserBuying">[8,9] User Buying</a>
    | <a href="/Home/PagePrivate">[10] Page Private</a>
    | <a href="/Home/PageGuestView">[11] Page Guest View</a>
    | <a href="/Home/UserShops">[12] User Shops</a>
    | <a href="/Home/SearchResultPeople">[13] Search Result People</a>
    | <a href="/Home/SearchResultPosts">[14] Search Result Posts</a>
    | <a href="/Home/SearchResultShops">[15] Search Result Shops</a>
    | <a href="/Home/SearchResultProducts">[16] Search Result Products</a>
    | <a href="/Home/GuestCategories">[17] Guest Categories</a>
    | <a href="/Home/ProductDetails">[18] Product Details</a>
    | <a href="/Home/Checkout">[20] Đặt hàng</a>
    | <a href="/Home/Success">[21] Kết thúc</a>
    | <a href="/Home/Chat">[22] Chat</a>

</div>